@page "/"
@namespace Meowv.Blog.Admin.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>🤣Admin - 阿星Plus⭐⭐⭐</title>
    <base href="/" />
    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <link href="_content/AntDesign.Pro.Layout/css/ant-design-pro-layout-blazor.css" rel="stylesheet" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/vditor@3.4.7/dist/index.css" rel="stylesheet" />
</head>
<body>
    <component type="typeof(App)" render-mode="Server" />
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vditor@3.4.7/dist/index.min.js" defer></script>
    <script src="_content/Vditor/vditor-blazor.js"></script>
    <script src="_framework/blazor.server.js"></script>
</body>
</html>