@page "/"

<PageContainer Title="Dashboard">
    <Card>
        <Text Strong>
            <a target="_blank" rel="noopener noreferrer" href="https://pro.ant.design/docs/block">
                基于 block 开发，快速构建标准页面
            </a>
        </Text>
    </Card>
</PageContainer>
