<div class="outer"><ul class="list-group" id="blog-content"></ul></div>
@section scripts{<script id="blog-template" type="text/template">
        {{if reason === "success"}}
            {{each result}}
                <li class="list-group-item blog-title">
                    <a target="_blank" href="{{$value.url}}">{{$value.title}}</a>
                </li>
            {{/each}}
        {{/if}}
    </script>}