<div class="container body-content">
    <div class="jumbotron">
        <img id="signature" src="https://t.cn/RDKF38X" title="对着我一直点有惊喜喔！" />
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">请输入您的姓名：</span>
                <input type="text" class="form-control" id="name" placeholder="阿星Plus" maxlength="4">
            </div>
        </div>
        <div class="col-md-5 minscreen">
            <div class="input-group input-group-lg">
                <span class="input-group-addon">请选择签名类型：</span>
                <select class="form-control">
                    <option value="0">艺术签</option>
                    <option value="1">商务签</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-default btn-lg btnSign" id="btnSignature">给我免费设计</button>
        </div>
    </div>
</div>
<audio autoplay="autoplay" preload="auto">
    <source src="~/lib/nb.mp3" type="audio/mpeg" />
</audio>