<div class="outer job-outer">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">工作地点</span>
                    <input type="text" class="form-control city" placeholder="工作地点...">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">职位</span>
                    <input type="text" class="form-control key" placeholder="搜索职位...">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-search" type="button">搜索</button>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" id="zhaopin" value="zhaopin" checked>
                    <label for="zhaopin">智联招聘</label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" id="51job" value="51job" checked>
                    <label for="51job">前程无忧</label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" id="liepin" value="liepin" checked>
                    <label for="liepin">猎聘网</label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" id="zhipin" value="zhipin" checked>
                    <label for="zhipin">Boss直聘</label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" id="lagou" value="lagou" checked>
                    <label for="lagou">拉勾网</label>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group collapsed" id="jobs-content"></ul>
</div>
@section scripts{
    <script src="~/lib/meowvCity.js"></script>
    <script id="jobs-loading-template" type="text/template">
        <img class="img-responsive center-block" src="../images/loading.svg" />
    </script>
    <script id="jobs-template" type="text/template">
        {{if reason === "success"}}
            {{each result}}
                <li class="list-group-item blog-title">
                    <a data-toggle="collapse" data-link="{{$value.detailUrl}}" href="#{{$value.source}}-{{$index}}-{{$imports.page}}">
                        <div class="row">
                            <div class="col-md-4">
                                <p>{{$value.positionName}}</p>
                                <p>{{$value.companyName}}</p>
                            </div>
                            <div class="col-md-2">
                                <span>{{$value.salary}}</span>
                            </div>
                            <div class="col-md-2">
                                <span>{{$value.workingPlace}}</span>
                            </div>
                            <div class="col-md-2">
                                <span>{{$value.releaseDate}}</span>
                            </div>
                            <div class="col-md-2">
                                <span>{{$value.source}}</span>
                            </div>
                        </div>
                    </a>
                    <div id="{{$value.source}}-{{$index}}-{{$imports.page}}" class="panel-collapse collapse">
                        <div class="panel-body job-detail"></div>
                    </div>
                </li>
            {{/each}}
        {{/if}}
    </script>
    <script id="job-detail-template" type="text/template">
        {{if reason === "success"}}
            <p>
                <a target="_blank" href="{{$imports.url}}">
                    <span>{{@@ result.experience}}</span>
                    <span>{{@@ result.education}}</span>
                    <span>{{@@ result.companyNature}}</span>
                    <span>{{@@ result.companySize}}</span>
                </a>
            </p>
            <p>职位描述:</p>
            <div class="job-description">
                {{@@ result.requirement}}
            </div>
            <p>公司简介:</p>
            <div class="job-description">
                {{@@ result.companyIntroducation}}
            </div>
        {{/if}}
    </script>
}