<div class="outer job-outer">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">工作地点</span>
                    <input type="text" class="form-control city" placeholder="工作地点...">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <span class="input-group-addon">职位</span>
                    <input type="text" class="form-control" placeholder="搜索职位...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">搜索</button>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" id="zhaopin" value="zhaopin" checked>
                    <label for="zhaopin">智联招聘</label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" id="51job" value="51job" checked>
                    <label for="51job">前程无忧</label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" id="liepin" value="liepin" checked>
                    <label for="liepin">猎聘网</label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" id="zhipin" value="zhipin" checked>
                    <label for="zhipin">Boss直聘</label>
                </div>
                <div class="checkbox checkbox-primary checkbox-inline">
                    <input type="checkbox" class="styled" id="lagou" value="lagou" checked>
                    <label for="lagou">拉勾网</label>
                </div>
            </div>
        </div>
    </div>
    <ul class="list-group collapsed">
        <li class="list-group-item blog-title">
            <a data-toggle="collapse" href="#aaa">
                <div class="row">
                    <div class="col-md-4">
                        <p>.Net开发工程师</p>
                        <p>上海***技术有限公司</p>
                    </div>
                    <div class="col-md-2">
                        <span>年薪10-18万</span>
                    </div>
                    <div class="col-md-2">
                        <span>上海-嘉定区</span>
                    </div>
                    <div class="col-md-2">
                        <span>22小时前</span>
                    </div>
                    <div class="col-md-2">
                        <span>智联招聘</span>
                    </div>
                </div>
            </a>
            <div id="aaa" class="panel-collapse collapse">
                <div class="panel-body">
                    66666666666666666
                </div>
            </div>

        </li>
        <li class="list-group-item blog-title">
            <a data-toggle="collapse" href="#bbb">
                <div class="row">
                    <div class="col-md-4">
                        <p>.Net高级软件开发工程师</p>
                        <p>上海***技术有限公司</p>
                    </div>
                    <div class="col-md-2">
                        <span>年薪10-18万</span>
                    </div>
                    <div class="col-md-2">
                        <span>上海-嘉定区</span>
                    </div>
                    <div class="col-md-2">
                        <span>22小时前</span>
                    </div>
                    <div class="col-md-2">
                        <span>智联招聘</span>
                    </div>
                </div>
            </a>
            <div id="bbb" class="panel-collapse collapse">
                <div class="panel-body">
                    66666666666666666
                </div>
            </div>

        </li>
        <li class="list-group-item blog-title">
            <a class="" data-toggle="collapse" href="#ccc">
                <div class="row">
                    <div class="col-md-4">
                        <p>.Net Core开发工程师</p>
                        <p>上海***技术有限公司</p>
                    </div>
                    <div class="col-md-2">
                        <span>年薪10-18万</span>
                    </div>
                    <div class="col-md-2">
                        <span>上海-嘉定区</span>
                    </div>
                    <div class="col-md-2">
                        <span>22小时前</span>
                    </div>
                    <div class="col-md-2">
                        <span>智联招聘</span>
                    </div>
                </div>
            </a>
            <div id="ccc" class="panel-collapse collapse">
                <div class="panel-body">
                    66666666666666666
                </div>
            </div>
        </li>
    </ul>
</div>
@section scripts{ 
    <script src="~/lib/meowvCity.js"></script>
}