<div class="main">
    <div class="container">
        <div class="post-wrap tags">
            <h2 class="post-title">-&nbsp;Categories&nbsp;·&nbsp;Python&nbsp;-</h2>
        </div>
        <div class="post-wrap archive">
            <h3>2019</h3>
            <article class="archive-item">
                <a class="archive-item-link" href="/2019/07/09/FrontEnd-architecture-desigin/">前端架构设计的思考</a>
                <span class="archive-item-date">July 9, 2019</span>
            </article>
            <article class="archive-item">
                <a class="archive-item-link" href="/2019/06/02/Build-a-hexo-theme/">从零开始创建一个hexo主题</a>
                <span class="archive-item-date">June 2, 2019</span>
            </article>
            <article class="archive-item">
                <a class="archive-item-link" href="/2019/04/16/callback-this-pointer/">回调函数的this指向</a>
                <span class="archive-item-date">April 16, 2019</span>
            </article>
            <article class="archive-item">
                <a class="archive-item-link" href="/2019/03/28/graduateDesignRecord-FrontEnd/">毕业设计记录日志(FrontEnd:Vue)</a>
                <span class="archive-item-date">March 28, 2019</span>
            </article>
            <article class="archive-item">
                <a class="archive-item-link" href="/2019/03/26/web-api-note/">Web API设计简要笔记</a>
                <span class="archive-item-date">March 26, 2019</span>
            </article>
            <article class="archive-item">
                <a class="archive-item-link" href="/2019/02/26/blog-fixedFunctions/">hexo博客如何添加二级分档和标签云</a>
                <span class="archive-item-date">February 26, 2019</span>
            </article>
        </div>
    </div>
</div>