<div class="main">
    <div class="container">
        <div class="post-wrap tags">
            <h2 class="post-title">
                <script id="categoryName_tmpl" type="text/template">
                    -&nbsp;Category&nbsp;·&nbsp;{{@@result}}&nbsp;-
                </script>
            </h2>
        </div>
        <div class="post-wrap archive">
            <script id="category_post_tmpl" type="text/template">
                {{each result}}
                <h3>{{$value.year}}</h3>
                {{each $value.posts}}
                <article class="archive-item">
                    <a class="archive-item-link" href="/post{{$value.url}}">{{$value.title}}</a>
                    <span class="archive-item-date">{{$value.creationTime}}</span>
                </article>
                {{/each}}
                {{/each}}
            </script>
        </div>
    </div>
    <div class="loader"></div>
</div>
@section scripts{
    <script src="https://static.meowv.com/js/axios.min.js"></script>
    <script src="https://static.meowv.com/js/template-web.js"></script>
    <script>
        wx_share(share);
        var name = location.pathname.replace(/category|\//gi, "");

        axios.all([getCategoryName(name), getPostsByCategoryName(name)])
            .then(axios.spread(function (categoryNameResponse, postsResponse) {
                if (categoryNameResponse.data.isSuccess) {
                    document.title = document.title.substring(0, 2) + categoryNameResponse.data.result + " - " + document.title.substring(2);
                    var html = template("categoryName_tmpl", categoryNameResponse.data);
                    document.querySelector('.post-title').innerHTML = html;
                } else {
                    document.querySelector('.post-title').innerText = categoryNameResponse.data.message;
                }
                if (postsResponse.data.isSuccess) {
                    var html = template("category_post_tmpl", postsResponse.data);
                    document.querySelector('.post-wrap.archive').innerHTML = html;
                    document.querySelector('.loader').remove();
                }
            })).catch(function (error) {
                console.log(error);
            });

        function getCategoryName(name) {
            return axios.get(`${api_domain}/api/blog/category?name=${name}`);
        }

        function getPostsByCategoryName(name) {
            return axios.get(`${api_domain}/api/blog/post/querybycategory?name=${name}`);
        }
    </script>
}