<div class="main">
    <div class="container">
        <div class="post-wrap categories">
            <h2 class="post-title">-&nbsp;Categories&nbsp;-</h2>
            <div class="categories-card">
                <div class="card-item">
                    <div class="categories">
                        <a href="/category/影视剧-文学作品评论/">
                            <h3>
                                <i class="iconfont icon-category" style="padding-right:3px"></i>
                                影视剧/文学作品评论
                            </h3>
                            <small>(10)</small>
                        </a>
                    </div>
                </div>
                <div class="card-item">
                    <div class="categories">
                        <a href="/category/Algorithm/">
                            <h3>
                                <i class="iconfont icon-category" style="padding-right:3px"></i>
                                Algorithm
                            </h3>
                            <small>(10)</small>
                        </a>
                    </div>
                </div>
                <div class="card-item">
                    <div class="categories">
                        <a href="/category/黑龙江省导游继续教育培训课程/">
                            <h3>
                                <i class="iconfont icon-category" style="padding-right:3px"></i>
                                黑龙江省导游继续教育培训课程
                            </h3>
                            <small>(10)</small>
                        </a>
                    </div>
                </div>
                <div class="card-item">
                    <div class="categories">
                        <a href="/category/Machine-Learning/">
                            <h3>
                                <i class="iconfont icon-category" style="padding-right:3px"></i>
                                Machine Learning
                            </h3>
                            <small>(10)</small>
                        </a>
                    </div>
                </div>
                <div class="card-item">
                    <div class="categories">
                        <a href="/category/影视剧-文学作品评论/">
                            <h3>
                                <i class="iconfont icon-category" style="padding-right:3px"></i>
                                影视剧/文学作品评论
                            </h3>
                            <small>(10)</small>
                        </a>
                    </div>
                </div>
                <div class="card-item">
                    <div class="categories">
                        <a href="/category/Algorithm/">
                            <h3>
                                <i class="iconfont icon-category" style="padding-right:3px"></i>
                                Algorithm
                            </h3>
                        </a>
                    </div>
                </div>
                <div class="card-item">
                    <div class="categories">
                        <a href="/category/黑龙江省导游继续教育培训课程/">
                            <h3>
                                <i class="iconfont icon-category" style="padding-right:3px"></i>
                                黑龙江省导游继续教育培训课程
                            </h3>
                            <small>(10)</small>
                        </a>
                    </div>
                </div>
                <div class="card-item">
                    <div class="categories">
                        <a href="/category/Machine-Learning/">
                            <h3>
                                <i class="iconfont icon-category" style="padding-right:3px"></i>
                                Machine Learning
                            </h3>
                            <small>(10)</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>