<footer id="footer" class="footer">
    <div class="copyright">
        <span>
            meowv.com | powered by <a target="_blank" href="http://dot.net">.net core</a>
            @{
                if (User.Identity.Name == "阿星Plus")
                {
                    <a target="_blank" asp-controller="Account" asp-action="Logout">logout</a>
                }
            }
        </span>
    </div>
</footer>