<header>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header header-logo"><a href="/">阿星Plus</a></div>
            <div class="menu navbar-right">
                <a class="menu-item" href="#/archives">Posts</a>
                <a class="menu-item" href="#/category">Categories</a>
                <a class="menu-item" href="#/tag">Tags</a>
                <a class="menu-item" href="#/about">About</a>
                <input id="switch_default" type="checkbox" class="switch_default">
                <label for="switch_default" class="toggleBtn"></label>
            </div>
        </div>
    </nav>
    <nav class="navbar-mobile" id="nav-mobile">
        <div class="container">
            <div class="navbar-header">
                <div>
                    <a href="/">阿星Plus</a><a id="mobile-toggle-theme">&nbsp;·&nbsp;Light</a>
                </div>
                <div class="menu-toggle" onclick="mobileBtn()">&#9776; Menu</div>
            </div>
            <div class="menu" id="mobile-menu">
                <a class="menu-item" href="#/archives">Posts</a>
                <a class="menu-item" href="#/category">Categories</a>
                <a class="menu-item" href="#/tag">Tags</a>
                <a class="menu-item" href="#/about">About</a>
            </div>
        </div>
    </nav>
</header>