<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="阿星Plus，qix，Meowv">
    <meta name="description" content="阿星Plus的个人博客">
    <title>阿星Plus</title>
    <link rel="icon" href="~/favicon.ico">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="wrapper">
        <partial name="_HeaderPartialView">
        @RenderBody()
    </div>
</body>

</html>
<script src="~/js/main.js"></script>
@RenderSection("Scripts", required: false)