<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="keywords" content="阿星Plus，qix，Meowv">
    <meta name="description" content="生命不息，奋斗不止">
    <title>😍@ViewData["Title"]阿星Plus⭐⭐⭐</title>
    <link rel="icon" href="https://static.meowv.com/favicon.ico">
    <environment include="Development">
        <link href="~/css/style.min.css" rel="stylesheet" />
        <link href="~/css/APlayer.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://static.meowv.com/css/style.min.css">
        <link rel="stylesheet" href="https://static.meowv.com/css/APlayer.min.css">
    </environment>
    @{
        var path = Context.Request.Path.Value;
        if (path.Contains("/admin/"))
        {
            <environment include="Development">
                <link href="~/css/admin.css" rel="stylesheet" />
            </environment>
            <environment exclude="Development">
                <link rel="stylesheet" href="https://static.meowv.com/css/admin.css" />
            </environment>
            if (path.Contains("add_post") || path.Contains("edit_post"))
            {
                <link href="https://static.meowv.com/editor.md/css/editormd.min.css" rel="stylesheet" />
            }
        }

        if (path.Contains("/post/"))
        {
            <link href="https://static.meowv.com/editor.md/css/editormd.preview.min.css" rel="stylesheet" />
        }
    }
</head>

<body>
    <div class="wrapper">
        <partial name="_HeaderPartialView">
        @RenderBody()
        <partial name="_FooterPartialView">
        <div id="aplayer"></div>
    </div>
</body>

</html>
<script src="https://static.meowv.com/live2d/L2Dwidget.min.js"></script>
<script src="https://static.meowv.com/signalr/signalr.min.js"></script>
<script src="https://static.meowv.com/js/APlayer.min.js"></script>
@RenderSection("Scripts", required: false)
<environment include="Development"><script src="~/js/main.js"></script></environment>
<environment exclude="Development"><script src="https://static.meowv.com/js/main.min.js"></script></environment>
@RenderSection("ScriptsForAdmin", required: false)