@page
@model CategoryModel
<div class="well well-sm text-center">
    <span id="current-category">阿星Plus</span>
</div>
<div id="articles"></div>
@section Scripts{
    <script src="~/js/category.js" asp-append-version="true"></script>
}