@page
@model SearchModel
<div class="well well-sm text-center">
    <span id="current-keywords">Search for &nbsp;“-”&nbsp; results</span>
</div>
<div id="articles"></div>
@section Scripts{
    <script src="~/js/search.js" asp-append-version="true"></script>
}