@page
@model TagsListModel
<div class="well well-sm text-center">
    <span id="current-tag">阿星Plus</span>
</div>
<div id="articles"></div>
@section Scripts{
    <script src="~/js/taglist.js" asp-append-version="true"></script>
}