<div class="main">
    <div class="container">
        <div class="intro">
            <div class="avatar">
                <a href="javascript:;"><img src="https://static.meowv.com/images/avatar.jpg"></a>
            </div>
            <div class="nickname">阿星Plus</div>
            <div class="description">
                <p>
                    生命不息，奋斗不止
                    <br>Cease to struggle and you cease to live
                </p>
            </div>
            <div class="links">
                <a class="link-item" title="Blog" href="/posts">
                    <i class="iconfont iconread"></i>
                </a>
                <a target="_blank" class="link-item" title="Notes" href="https://notes.meowv.com/">
                    <i class="iconfont iconnotes"></i>
                </a>
                <a target="_blank" class="link-item" title="API" href="https://api.meowv.com/">
                    <i class="iconfont iconapi"></i>
                </a>
                <a class="link-item" title="Manage" href="/account/auth">
                    <i class="iconfont iconcode"></i>
                </a>
                <a target="_blank" class="link-item" title="Github" href="https://github.com/Meowv/">
                    <i class="iconfont icongithub"></i>
                </a>
                <a class="link-item weixin" title="点击关注阿星Plus，带你飙车不迷路" href="javascript:;">
                    <i class="iconfont iconweixin">
                    </i>
                </a>
                <div class="qrcode hidden">
                    <img src="https://static.meowv.com/images/wx_qrcode.jpg" />
                </div>
            </div>
        </div>
    </div>
    <iframe src="https://api.meowv.com/common/tts" allow="autoplay" style="display:none;"></iframe>
</div>