<footer id="footer" class="footer">
    <div class="copyright">
        <span>
            Powered by <a target="_blank" href="http://dot.net">.NET 5</a> on Linux
        </span>
        <p><a target="_blank" href="https://beian.miit.gov.cn">鄂ICP备19012232号-1</a></p>
    </div>
</footer>