<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="阿星Plus,个人博客">
    <meta name="description" content="阿星Plus的个人博客,用于发表原创文章,关注微信公众号：『阿星Plus』了解更多。">
    <title>🤣@ViewData["Title"]阿星Plus⭐⭐⭐</title>
    <link rel="stylesheet" href="~/css/app.css" asp-append-version="true" />
</head>
<body>
    <div class="wrapper">
        @{ await Html.RenderPartialAsync("_Header"); }
        <div class="main">
            <div class="container">
                @RenderBody()
            </div>
        </div>
        @{ await Html.RenderPartialAsync("_Footer"); }
    </div>
    @await RenderSectionAsync("scripts", required: false)
    <script src="~/live2d/L2Dwidget.min.js"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
</body>
</html>