@{
    ViewData["Title"] = "Bing每日壁纸 - ";
}
<div class="loader"></div>
<div class="imgbox">
    <img src="/api/apps/bing" />
</div>
@section scripts{
    <script>
        window.onload = function () {
            document.querySelector('.loader').remove();
        }
    </script>
}