@{
    ViewData["Title"] = "开发记录 - ";
}
<div class="main">
    <div class="container">
        <section id="cd-timeline" class="cd-container">
            <script id="commits_tmpl" type="text/template">
                {{each result}}
                <div class="cd-timeline-block">
                    <div class="cd-timeline-content">
                        <h2><a target="_blank" href="https://github.com/Meowv/Blog/commit/{{$value.sha}}">{{$value.message}}</a></h2>
                        <span class="cd-date">{{$value.date}}</span>
                    </div>
                </div>
                {{/each}}
            </script>
        </section>
        <div class="loader" style="position: relative;"></div>
    </div>
</div>
@section scripts{
    <script src="https://static.meowv.com/js/axios.min.js"></script>
    <script src="https://static.meowv.com/js/template-web.js"></script>
    <script>
        var page = 1;
        var limit = 20;
        var totalPage;

        load_data(page);

        //获取滚动条当前的位置
        function getScrollTop() {
            var scrollTop = 0;
            if (document.documentElement && document.documentElement.scrollTop) {
                scrollTop = document.documentElement.scrollTop;
            } else if (document.body) {
                scrollTop = document.body.scrollTop;
            }
            return scrollTop;
        }

        //获取当前可视范围的高度
        function getClientHeight() {
            var clientHeight = 0;
            if (document.body.clientHeight && document.documentElement.clientHeight) {
                clientHeight = Math.min(document.body.clientHeight, document.documentElement.clientHeight);
            } else {
                clientHeight = Math.max(document.body.clientHeight, document.documentElement.clientHeight);
            }
            return clientHeight;
        }

        //获取文档完整的高度
        function getScrollHeight() {
            return Math.max(document.body.scrollHeight, document.documentElement.scrollHeight);
        }

        //滚动事件触发
        window.onscroll = function () {
            if (getScrollTop() + getClientHeight() == getScrollHeight()) {
                page++;

                document.querySelector('.loader').style.cssText = "display:block";

                if (page <= totalPage)
                    load_data(page);
            }
        }

        function load_data(page) {
            axios.get(`${api_domain}/api/commits/query?page=${page}&limit=${limit}`)
                .then(function (response) {
                    if (response.data.isSuccess) {
                        var data = { "result": response.data.result.items };
                        var html = template("commits_tmpl", data);
                        document.querySelector('#cd-timeline').insertAdjacentHTML('beforeend', html);
                        document.querySelector('.loader').style.cssText = "display:none";
                    }
                    if (page == 1) {
                        totalPage = Math.ceil(response.data.result.totalCount / limit);
                    }
                }).catch(function (error) {
                    console.log(error);
                });
        }
    </script>
}