@{
    ViewData["Title"] = "随机妹子图 - ";
}
<div class="main">
    <div class="loader"></div>
    <div class="container">
        <div class="imgbox girl-img">
            <img src="https://api.meowv.com/common/girl/" />
        </div>
        <div class="girl-qrcode">
            <img src="https://static.meowv.com/images/girl_qrcode.jpg" />
        </div>
        <div class="btnbox">
            <button class="soul-btn">再来一个妹子</button>
        </div>
    </div>
</div>