@{
    ViewData["Title"] = "Apps - ";
}
<div class="main">
    <div class="container">
        <div class="post-wrap">
            <h2 class="post-title">-&nbsp;Apps&nbsp;-</h2>
            <ul>
                <li>
                    <a asp-controller="Apps" asp-action="TuCao"><h3>吐个槽❓❓❓</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Signature"><h3>免费艺术签名设计</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="News"><h3>每日热点</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Girl"><h3>随机妹子图</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Cat"><h3>随机猫咪图</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Bing"><h3>每日壁纸</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="V"><h3>VIP视频解析</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Mta"><h3>网站数据分析</h3></a>
                </li>
            </ul>
        </div>
    </div>
</div>