@{
    ViewData["Title"] = "访问数据分析 - ";
}
<div class="main">
    <div class="mta-box">
        <div class="mta-a">
            <div class="loader"></div>
            <ul>
                <li>
                    <div class="mta-a-item">
                        <div class="mta-a-title">
                            浏览量(PV)
                        </div>
                        <div class="mta-a-value" id="pv">
                            <strong>888888</strong>
                        </div>
                        <div class="mta-date"></div>
                    </div>
                </li>
                <li>
                    <div class="mta-a-item">
                        <div class="mta-a-title">
                            独立用户(UV)
                        </div>
                        <div class="mta-a-value" id="uv">
                            <strong>888888</strong>
                        </div>
                        <div class="mta-date"></div>
                    </div>
                </li>
                <li>
                    <div class="mta-a-item">
                        <div class="mta-a-title">
                            访问次数(VV)
                        </div>
                        <div class="mta-a-value" id="vv">
                            <strong>888888</strong>
                        </div>
                        <div class="mta-date"></div>
                    </div>
                </li>
                <li>
                    <div class="mta-a-item">
                        <div class="mta-a-title">
                            独立IP
                        </div>
                        <div class="mta-a-value" id="iv">
                            <strong>888888</strong>
                        </div>
                        <div class="mta-date"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
@section scripts{
<script src="https://static.meowv.com/js/axios.min.js"></script>
}