@{
    ViewData["Title"] = "好的文章收集 - ";
}
<div class="main">
    <div class="post-wrap archive">
        <script id="posts_tmpl" type="text/template">
            {{each result}}
            <article class="archive-item">
                <a class="archive-item-link" target="_blank" href="{{$value.url}}">{{$value.title}}</a>
                <span class="archive-item-date">{{$value.time}}</span>
            </article>
            {{/each}}
        </script>
        <nav class="pagination"></nav>
    </div>
    <div class="loader"></div>
</div>
@section scripts{
    <script src="https://static.meowv.com/js/axios.min.js"></script>
    <script src="https://static.meowv.com/js/template-web.js"></script>
    <script>
        share["desc"] = "好的文章收集，个人知识库~~~";
        wx_share(share);

        var page = location.pathname.replace(/articles|page|\//gi, "") || 1;
        var limit = 15;

        axios.get(`${api_domain}/api/nicearticle/query?page=${page}&limit=${limit}`)
            .then(function (response) {
                if (response.data.isSuccess) {
                    if (response.data.result.items.length == 0) {
                        document.querySelector('.post-wrap.archive').innerHTML = `<h2 class="post-title">找了找不到了~~~</h2>`;
                        document.querySelector('.loader').remove();
                        return false;
                    }

                    var data = { "result": response.data.result.items };
                    var html = template("posts_tmpl", data);
                    document.querySelector('.post-wrap.archive').insertAdjacentHTML('afterbegin', html);

                    var totalPage = Math.ceil(response.data.result.totalCount / limit);

                    var paginationHtml = "";
                    for (var i = 1; i <= totalPage; i++) {
                        paginationHtml += page == i ? `<span class="page-number current">${i}</span>` : `<a class="page-number" href="/articles/page/${i}/">${i}</a>`;
                    }
                    document.querySelector('.pagination').innerHTML = paginationHtml;

                    document.querySelector('.loader').remove();
                    document.getElementById('posts_tmpl').remove();
                }
            }).catch(function (error) {
                console.log(error);
            });
    </script>
}