@{
    ViewData["Title"] = "个性艺术签名设计 - ";
}
<div class="main">
    <div class="container">
        <div class="loader"></div>
        <div class="signature-box hidden">
            <p>图片仅保留24小时，如有需要请尽快下载，请勿频繁调用，谢谢！</p>
            <div class="signature-img">
                <img src="https://static.meowv.com/images/wxcode.jpg" />
            </div>
            <div class="signature-action">
                <select id="type"></select>
                <input type="text" id="name" placeholder="输入你的名字，1-4个字符" maxlength="4" autocomplete="off" value="" />
                <button id="btn_do">免费设计</button>
            </div>
        </div>
        <div class="post-wrap tags hidden">
            <h3>-&nbsp;最近设计的签名&nbsp;-</h3>
            <div class="tag-cloud-tags tag-cloud-tags-extend"></div>
        </div>
    </div>
</div>
@section scripts{
    <script src="https://static.meowv.com/js/axios.min.js"></script>
    <script>
        var cdn_domain = "https://static.meowv.com/signature/";

        axios.all([signature_type(), recently_signature_logs()])
            .then(axios.spread(function (sign_type_response, recently_log_response) {
                var signature_type_html = "";
                sign_type_response.data.forEach(x => {
                    if (x.value == 901) {
                        signature_type_html += `<option selected="selected" value="${x.value}">${x.name}</option>`;
                    } else {
                        signature_type_html += `<option value="${x.value}">${x.name}</option>`;
                    }
                });
                var recently_signature_log_html = "";
                recently_log_response.data.result.forEach(x => {
                    recently_signature_log_html += `<a href="javascript:;" data-url="${x.url}">${x.name}</a>`;
                });
                document.querySelector("#type").innerHTML = signature_type_html;
                document.querySelector(".tag-cloud-tags-extend").innerHTML = recently_signature_log_html;
                document.querySelector(".signature-box").style.cssText = "display:block";
                document.querySelector(".post-wrap").style.cssText = "display:block";
                document.querySelector('.loader').remove();

                var a_list = document.querySelectorAll('.tag-cloud-tags-extend a');
                for (var i = 0; i < a_list.length; i++) {
                    a_list[i].onclick = function () {
                        var url = this.attributes["data-url"].value;
                        document.querySelector(".signature-img img").src = cdn_domain + url;
                    }
                }

            })).catch(function (error) {
                console.log(error);
            });

        function signature_type() {
            return axios.get(`${api_domain}/api/signature/type`);
        }
        function recently_signature_logs() {
            return axios.get(`${api_domain}/api/signature/recently_logs`);
        }

        document.querySelector("#btn_do").addEventListener("click", function () {
            var name = document.querySelector("#name").value.trim();
            if (name.length > 4 || name.length == 0) {
                return false;
            }
            var typeId = document.querySelector("#type").value;

            axios.get(`${api_domain}/api/signature?name=${name}&id=${typeId}`)
                .then(function (response) {
                    document.querySelector(".signature-img img").src = cdn_domain + response.data.result;
                }).catch(function (error) {
                    console.log(error);
                });
        });
    </script>
}