@{
    ViewData["Title"] = "毒鸡汤 - ";
}
<div class="main">
    <div class="container">
        <div class="soul"><h1>毒鸡汤~</h1></div>
        <div class="soul"><button class="soul-btn">再来一碗</button></div>
    </div>
</div>
@section scripts{
<script src="https://static.meowv.com/js/axios.min.js"></script>
}