@{
    ViewData["Title"] = "吐个槽 - ";
}
<div class="main" style="margin-top: 10px;">
    <iframe id="tucao" frameborder="0" width="100%" height="747" src="https://support.qq.com/products/75616"></iframe>
</div>