@{
    ViewData["Title"] = "分类管理 - ";
}
<div class="main">
    <div class="container">
        <div class="post-wrap categories">
            <h2 class="post-title">-&nbsp;Categories&nbsp;-</h2>
            <div class="categories-card">
                <script id="categories_tmpl" type="text/template">
                    {{each result}}
                    <div class="card-item">
                        <div class="categories">
                            <a href="javascript:;">
                                <h3>
                                    <i class="iconfont iconcode" style="padding-right:3px"></i>
                                    {{$value.categoryName}}
                                </h3>
                                <small>({{$value.count}})</small>
                            </a>
                            <a href="javascript:;" class="btn_delete">❌</a>
                            <a href="javascript:;" class="btn_update">💣</a>
                        </div>
                    </div>
                    {{/each}}
                    <div class="card-item">
                        <div class="categories">
                            <a href="javascript:;" id="btn_insert">
                                <h3>
                                    <i class="iconfont iconcode" style="padding-right:3px"></i>
                                    新增分类~~~📝
                                </h3>
                            </a>
                        </div>
                    </div>
                </script>
            </div>
        </div>
    </div>
</div>
<div class="loader"></div>
@section scripts{
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/art-template@4.13.2/lib/template-web.js"></script>
    <script>
        axios.get(`${api_domain}/api/blog/admin/categories`)
            .then(function (response) {
                if (response.data.isSuccess) {
                    var html = template("categories_tmpl", response.data);
                    document.getElementsByClassName('categories-card')[0].innerHTML = html;
                    document.getElementsByClassName('loader')[0].remove();
                }
            }).catch(function (error) {
                console.log(error);
            });
    </script>
}