@media (min-width: 768px) {
    .navbar {
        border-radius: 0;
    }
    .navbar-default .navbar-nav > li > a {
        padding-top: 0;
        padding-bottom: 0;
        line-height: 40px;
        color: #999;
        font-weight: 600;
    }
    .nav > li > a {
        padding: 0px 25px;
    }
}

.affix {
    width: 100%;
    top: 0;
    z-index: 2;
}

.navbar {
    margin: 0;
    min-height: 40px;
    box-shadow: none;
}

.navbar-default .navbar-nav > li > a {
    color: #999;
    font-weight: normal;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #242424;
    background-color: transparent;
}

.navbar-brand {
    height: auto;
    padding: 0 0 0 15px;
}

.navbar-default .navbar-toggle {
    margin-top: 0;
    margin-bottom: 0;
}

.thumbnail {
    padding: 5px 15px;
    overflow: hidden;
    border: none;
    box-shadow: 1px 1px 1px rgba(229, 229, 229, 0.3);
}

.panel {
    box-shadow: none;
}

.panel-default {
    border: 1px solid #efefef;
}

.pagination > li > a,
.pagination > li > span {
    color: #28a745;
    border: 1px solid #efefef;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #fff;
    background-color: #28a745;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #28a745;
    border-color: #efefef;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
    border-color: #efefef;
}

textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    -webkit-box-shadow: inset 0 -2px 0 #28a745;
    box-shadow: inset 0 -2px 0 #28a745;
}

.btn {
    border: 1px;
    box-shadow: none;
}

.btn-blue {
    color: #999;
    background-color: #fff;
    border: 1px solid #efefef;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue.focus,
.btn-blue:active,
.btn-blue.active,
.open > .dropdown-toggle.btn-blue {
    color: #fff;
    background-color: #28a745;
    border-color: #efefef;
}

.list-group-item {
    padding: 10px;
    border: 1px solid #efefef;
}

.label-default {
    background-color: #efefef;
    color: #a6a6a6;
}

.well {
    background-color: #28a745;
    color: #fff;
    font-weight: 700;
    border-radius: 3px;
}

/* vPaper THEME START */

::-moz-selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
    -webkit-box-shadow: inset 1px 1px 2px #e0e0e0;
    border: 1px solid #D8D8D8;
}

::-webkit-scrollbar-thumb {
    background: #e8e8e8;
    -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
    background: #242424;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}

body {
    position: relative;
    font-size: 14px;
    background-color: #f9f9f9;
    font-family: 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, 'Hiragino Sans GB', 'Microsoft YaHei', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif
}

embed {
    display: none;
}

::selection {
    background-color: rgba(40,167,69,.7);
    color: #FFF;
}

a {
    color: #797979;
}

a:hover {
    color: #28a745;
    text-decoration: none;
}

.vc-pt15 {
    padding-top: 15px;
}

.vc-header {
    background-color: #fff;
    padding: 5px 0;
    border-bottom: 1px solid #efefef;
}

.vc-header .vc-logo {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 40px;
    text-indent: -999px;
    background: url(../imgs/logo.png) no-repeat;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
    .vc-header .vc-logo {
        margin: 0;
        padding: 0;
        width: 100px;
        height: 40px;
        text-indent: -999px;
        background: url(../imgs/logo@2x.png) no-repeat;
        background-size: 100px 40px;
    }
}

.vc-container {
    padding-top: 60px;
}

.vc-page-title {
    margin-top: 10px;
    font-size: 30px;
}

.vc-page-title a {
    color: #555;
}

.vc-page-title a:hover {
    color: #28a745;
}

.vc-author-info {
    color: #aaa;
    font-size: 14px;
    line-height: 18px;
}

.vc-author-info a {
    color: #aaa;
}

.vc-author-info a:hover {
    color: #28a745;
}

.vc-author-info > time,
.vc-author-info > span {
    margin: 0 .3em 0;
}

.vc-author-info >:first-child {
    margin-left: 0;
}

.vc-pagelist-img {
    margin: -5px -15px 0;
}

.vc-pagelist-img img {
    width: 100%;
}

.vc-widget-title {
    font-size: 18px;
    margin: 0 auto;
    padding: 15px 15px 0;
}


/* Blog Content CSS */

.vc-blog {
    width: 100%;
    height: auto;
    padding: 0 20px 20px;
}

.vc-blog-title {
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    text-transform: none;
}

.vc-blog-content {
    width: 100%;
    height: auto;
    margin: 15px auto 10px;
    overflow: hidden;
    font-size: 14px;
}

.vc-blog-content img {
    max-width: 100%;
    height: auto;
    text-align: center;
    overflow: hidden;
    margin: 10px auto 10px;
}

.vc-tags {
    font-size: 12px;
}

.tags a {
    font-size: 12px;
    background: #ccc;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 2px 4px;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
}

.vc-tags a {
    margin-right: .5em;
    padding: 2px 4px;
    border-radius: 2px;
    background: #ccc;
    color: #fff;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    transition: background .3s;
}

.vc-tags a:hover,.tags a:hover {
    background-color: #28a745;
}

.vc-more-link {
    color: #28a745;
    font-weight: bold;
}


/* Comments */

.comment-respond {
    padding: 10px 20px;
    border: 1px solid #efefef;
    background-color: #fff;
}

.comment-reply-title {
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 20px;
    height: 20px;
    color: #555;
    border-left: 4px solid #28a745;
    padding-left: 6px;
}

.comment-form {
    clear: both;
}

.comment-form-author{
    width: 33.33%;
    float: left;
}
.comment-form-email {
    width: 100%;
    float: right;
}

#commentform p.comment-form-comment,
#commentform p.form-submit {
    clear: both
}

#commentform label {
    padding: 6px 0;
    display: block
}

#commentform input[type="text"],
#commentform textarea {
    padding: 5px 1.8%;
    width: 95%;
    border: 1px solid #eee;
    font-size: 14px;
    background: #fcfcfc;
    outline: none;
}

#commentform textarea {
    margin-top: 10px;
    width: 100%;
}

#commentform input#submit,
#commentform input#reset {
    width: 100px;
    height: 32px;
    border: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #28a745;
    color: #fff;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

#commentform #submit:hover,
#commentform #reset:hover {
    background: #17a98c
}

.vc-comments-form .vc-textarea {
    background-color: #fff;
    padding: 5px 10px;
}

.vc-comments-form .vc-comments-text {
    border-radius: 3px;
    border: 1px solid #efefef;
    padding: 0;
    overflow: hidden;
}

.vc-comments-footer {
    background-color: #efefef;
}

.vc-comments-smilies {
    margin: 5px 0 0 7px;
}

.vc-comments-footer img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
    margin-right: 5px !important;
    cursor: pointer;
    font-size: 20px;
}

.vc-comments-footer input {
    border-radius: 0;
    background-color: #28a745;
}

.vc-comments-footer input:hover,
.vc-comments-footer input:focus {
    background-color: #28a745;
}

.vc-comments-footer input:active {
    background-color: #15A186;
}

#comments {
    clear: both;
    margin: 40px 0
}

#comments-title {
    margin: 0 0 1em;
    color: #999;
    font-weight: 400;
    font-size: 22px
}

.commentlist {
    margin: 0 0 1em 0;
    padding: 0;
    color: #666;
    list-style: none
}

.commentlist .comment {
    margin: 1em 0 0 0;
    padding-top: 1em;
    border-top: 1px dotted #ccc
}

.commentlist .bypostauthor > div > div > .fn:after {
    margin-left: 5px;
    padding: 1px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #16a085;
    color: #fff;
    content: "博主";
    font-size: 12px
}

.commentlist .bypostauthor {
    _border-top: 1px solid #16a085
}

.commentlist .comment-body {
    position: relative;
    margin-left: 60px
}

.commentlist .comment-author .avatar {
    position: absolute;
    top: 0;
    left: -60px;
    border-radius: 3px
}

.commentlist .comment-author .fn {
    color: #16a085;
    font-style: normal
}

.commentlist .comment-author .url {
    color: #16a085;
    font-weight: 700
}

.commentlist .comment-author .url:hover {
    color: #28a745
}

.commentlist .comment-awaiting-moderation,
.commentlist .comment-author time {
    float: right;
    color: #999;
    font-size: 12px;
    white-space: nowrap;
}

.commentlist .comment-content {
    margin-top: .5em;
    word-wrap: break-word;
    word-break: normal
}

.commentlist .comment-content p {
    margin: 0 0 .5em
}

.commentlist .comment-content > p:last-child {
    margin-bottom: .2em
}

.commentlist .comment-content pre,
.commentlist .comment-content code {
    margin: 0 .2em;
    padding: .2em;
    background: #e7e7e7
}

.commentlist .comment-footer {
    text-align: right;
    font-size: 12px;
    opacity: 0;
    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    transition: opacity .3s
}

.commentlist .comment-body:hover .comment-footer {
    opacity: 1
}

.commentlist .comment-footer a {
    margin-left: 1em;
    color: #16a085
}

.commentlist .comment-footer a:hover {
    color: #28a745
}

.commentlist .children {
    margin: 1em 0 0 60px;
    padding: 0;
    list-style-type: none
}

.commentlist .children .children {
    margin-left: 40px
}

.commentlist .children .comment-body {
    margin-left: 40px
}

.commentlist .children .comment-author .avatar {
    left: -40px;
    width: 30px;
    height: 30px
}


/* FOOTER CSS */

.vc-footer {
    background: #242424;
    padding-bottom: 30px;
}

.vc-footer .vc-footer-info {
    background: #2d2e2f;
}

.vc-footer .vc-footer-info .vc-footer-menu {
    padding: 12px 20px;
    text-align: center;
    list-style: none;
    overflow: hidden;
}

.vc-footer .vc-footer-info .vc-footer-menu > li {
    vertical-align: top;
}

.vc-footer .vc-footer-info .vc-footer-menu > li:nth-child(n+2) {
    margin-left: 15px;
}

.vc-footer .vc-footer-info .vc-footer-menu > li,
.vc-footer .vc-footer-info .vc-footer-menu > li > a {
    display: inline-block;
    font-size: 14px;
}

.vc-footer .vc-footer-copyright {
    padding-top: 30px;
    text-align: center;
    font-weight: 700;
}

.vc-fixed {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}


/* vPaper THEME END */

.pager li > a{
    border-radius:0;
}

.tagCloud {
    line-height: 28px;
    text-align: justify;
}
.list-unstyled {
    padding-left: 0;
    margin-top: 5px;
    list-style: none;
}
.tagCloud li {
    display: inline-block;
    vertical-align: top;
}

.tagCloud li a {
    border: 1px solid #bbb;
    color: #444;
    display: block;
    height: 33px;
    line-height: 33px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 0 10px
}

.tagCloud li a:hover {
    background-color: #28a745 !important;
    border: 1px solid #28a745 !important;
    color: #fff !important
}

.tagCloud li a.weight1 {
    background-color: #c9302c;
    border: 1px solid #d43f3a;
    color: #fff !important;
    font-size: 145%
}

.tagCloud li a.weight2 {
    background-color: #f0ad4e;
    border: 1px solid #eea236;
    color: #fff !important;
    font-size: 133%
}

.tagCloud li a.weight3 {
    background-color: #449d44;
    border: 1px solid #398439;
    color: #fff !important;
    font-size: 115%;
}

.tagCloud li a.weight4 {
    background-color: #286090;
    border: 1px solid #204d74;
    color: #fff !important;
    font-size: 100%
}

.tagCloud li a.weight5 {
    font-size: 90%
}

.tagCloud li a.weight6 {
    font-size: 80%
}

.backtop {
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 26px;
    height: 61px;
    background: url(../imgs/backtop.png) no-repeat 50% 0;
    display: none;
    cursor: pointer;
}

.backtop:hover {
    background-position: 50% -62px
}