@page "/friendlinks/add"
@inherits PageBase

<PageContainer>
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem><Icon Type="link"></Icon><span>友链管理</span></BreadcrumbItem>
            <BreadcrumbItem><Icon Type="plus-square"></Icon><span>新增友链</span></BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <ChildContent>
        <Card>
            <Form Model="@input"
                  LabelColSpan="8"
                  WrapperColSpan="8"
                  OnFinish="HandleSubmit">
                <FormItem Label="名称">
                    <Input @bind-Value="@context.Name" />
                </FormItem>
                <FormItem Label="链接">
                    <Input @bind-Value="@context.Url" />
                </FormItem>
                <FormItem WrapperColOffset="8" WrapperColSpan="8">
                    <Button Type="@ButtonType.Primary" HtmlType="submit">保存</Button>
                </FormItem>
            </Form>
        </Card>
    </ChildContent>
</PageContainer>