@{
    ViewData["Title"] = "Authentication - ";
}
<div class="main"><div class="loader"></div></div>
@section scripts{
    <script src="https://static.meowv.com/js/axios.min.js"></script>
    <script>
        var search = location.search;
        var query = {};
        search.replace(/([^?&=]+)=([^&]+)/g, (_, k, v) => query[k] = v);

        if (query.ReturnUrl != undefined || search == "") {
            axios.get(`${api_domain}/api/account/url`)
                .then(function (response) {
                    if (response.data.isSuccess) {
                        location.href = response.data.result;
                    }
                }).catch(function (error) {
                    console.log(error);
                });
        } else {
            var code = query.code;
            axios.get(`${api_domain}/api/account/token?code=${code}`)
                .then(function (response) {
                    if (response.data.isSuccess) {
                        var token = response.data.result.access_token;
                        axios.get(`${api_domain}/api/account/login?token=${token}`)
                            .then(function (response) {
                                if (response.data.isSuccess) {
                                    if (response.data.result == "阿星Plus") {
                                        location.href = "/admin";
                                    } else {
                                        location.href = "/";
                                    }
                                }
                            }).catch(function (error) {
                                console.log(error);
                            });
                    }
                }).catch(function (error) {
                    console.log(error);
                });
        }
    </script>
}