<footer class="vc-footer">
    <div class="vc-footer-info">
        <ul class="vc-footer-menu">
            <li data-toggle="modal" data-target="#wechat">
                <a href="javascript:;"><i class="fa fa-weixin"></i></a>
            </li>
            <li>
                <a href="javascript:;"><i class="fa fa-rss"></i></a>
            </li>
            <li>
                <a target="_blank" href="https://github.com/Meowv"><i class="fa fa-github"></i></a>
            </li>
            <li>
                <a target="_blank" href="/swagger"><i class="fa fa-code"></i></a>
            </li>
            <li>
                <a target="_blank" href="/admin"><i class="fa fa-lock"></i></a>
            </li>
        </ul>
    </div>
    <div class="vc-footer-copyright">
        <div class="backtop" title="TOP"></div>
        <div>© 2016 - @DateTime.Now.Year <a href="/">MEOWV.COM</a></div>
        This blog powered by <a target="_blank" href="http://dot.net">.NET Core</a> Designed and developed by <a target="_blank" href="https://meowv.com">阿星Plus</a>, thanks to UI provider: <a target="_blank" href="https://github.com/imvicchen/vTheme">vTheme</a>
    </div>
</footer>