<header class="vc-header navbar-fixed-top">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <h1 class="vc-logo">阿星Plus</h1>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="menu">                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/"><i class="fa fa-home fa-fw"></i>Home</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-book fa-fw"></i>Categories<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id="categories">阿星Plus</ul>
                    </li>
                    <li>
                        <a href="/tags"><i class="fa fa-tags fa-fw"></i>Tags</a>
                    </li>
                    <li>
                        <a href="/apps"><i class="fa fa-flask fa-fw"></i>Apps</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>