<!--导航分类列表-->
<script id="categories_tmpl" type="text/template">
    {{each result}}
    <li><a href="/category/list/{{$value.displayName}}">{{$value.categoryName}}</a></li>
    {{/each}}
</script>

<!--TOP标签列表-->
<script id="top_tags_tmpl" type="text/template">
    {{each result}}
    <a href="/tags/list/{{$value.displayName}}">{{$value.tagName}}</a>
    {{/each}}
</script>

<!--文章列表-->
<script id="articles_tmpl" type="text/template">
    {{each items}}
    <div class="thumbnail">
        <div class="caption">
            <h1 class="vc-page-title"><a href="/p/{{$value.article.id}}.html">{{$value.article.title}}</a></h1>
            <p class="vc-author-info">
                <span class="hidden-xs"><i class="fa fa-book"></i> <a href="/category/list/{{$value.category.displayName}}">{{$value.category.categoryName}}</a></span>
                <time><i class="fa fa-calendar"></i> {{$value.article.postTime}}</time>
                <span><i class="fa fa-user"></i> {{$value.article.author}}</span>
                {{if $value.article.source.length > 0}}
                <span class="hidden-xs"><i class="fa fa-at"></i> {{$value.article.source}}</span>
                {{/if}}
                {{if $value.article.url.length > 0}}
                <span class="hidden-xs"><i class="fa fa-link"></i><a target="_blank" href="{{$value.article.url}}"> 原文地址</a></span>
                {{/if}}
            </p>
            <p class="hidden-xs">{{$value.article.summary}}</p>
            <p class="clearfix">
                <a class="hidden-xs pull-right vc-more-link" href="/p/{{$value.article.id}}.html" role="button">继续阅读 &raquo;</a>
                {{if $value.tags.length > 0}}
                <span class="vc-tags">
                    {{each $value.tags}}
                    <a href="/tags/list/{{$value.displayName}}">{{$value.tagName}}</a>
                    {{/each}}
                </span>
                {{/if}}
            </p>
        </div>
    </div>
    {{/each}}
</script>

<!--文章详情-->
<script id="detail_tmpl" type="text/template">
    <div class="panel panel-default">
        <article class="vc-blog">
            <h1 class="vc-blog-title">
                {{@@ article.title}}
            </h1>
            <p class="vc-author-info">
                <span class="hidden-xs"><i class="fa fa-book"></i> <a href="/category/list/{{@@ category.categoryName}}">{{@@ category.categoryName}}</a></span>
                <time><i class="fa fa-calendar"></i> {{@@ article.postTime}}</time>
                <span><i class="fa fa-user"></i> {{@@ article.author}}</span>
                {{if article.source.length > 0}}
                <span class="hidden-xs"><i class="fa fa-at"></i> {{@@ article.source}}</span>
                {{/if}}
                {{if article.url.length > 0}}
                <span class="hidden-xs"><i class="fa fa-link"></i><a target="_blank" href="{{@@ article.url}}"> 原文地址</a></span>
                {{/if}}
            </p>
            <div class="vc-blog-content">
                {{@@ article.content}}
            </div>
            {{if tags.length > 0}}
            <span class="vc-tags">
                {{each tags}}
                <a href="/tags/list/{{$value.displayName}}">{{$value.tagName}}</a>
                {{/each}}
            </span>
            {{/if}}
        </article>
    </div>
    <nav>
        <ul class="pager">
            {{if previous != null}}
            <li class="previous">
                <a href="{{@@ previous.id}}.html" title="{{@@ previous.title}}"><i class="fa fa-angle-left"></i> Previous</a>
            </li>
            {{/if}}
            {{if next != null}}
            <li class="next">
                <a href="{{@@ next.id}}.html" title="{{@@ next.title}}">Next <i class="fa fa-angle-right"></i></a>
            </li>
            {{/if}}
        </ul>
    </nav>
</script>

<!--标签页-->
<script id="tags_tmpl" type="text/template">
    {{each result}}
    <li>
        <a class="{{$value.style}}" title="{{$value.count}}" href="/tags/list/{{$value.tag.displayName}}">
            {{$value.tag.tagName}}
        </a>
    </li>
    {{/each}}
</script>

<!--热门文章-->
<script id="hot_articles_tmpl" type="text/template">
    {{each result}}
    <li><a href="/p/{{$value.id}}.html">{{$value.title}}</a></li>
    {{/each}}
</script>

<!--友情链接-->
<script id="friendlinks_tmpl" type="text/template">
    {{each result}}
    <a target="_blank" href="{{$value.linkUrl}}" title="{{$value.title}}">{{$value.title}}</a>
    {{/each}}
</script>

<!--Apps-->
<script id="apps_tmpl" type="text/template">
    {{each}}
    <div class="col-sm-3 col-lg-1-8">
        <div class="appitem">
            <a href="/apps/{{$value.page}}">
                <div class="appicon">
                    {{if $value.icon.length > 0}}
                    <img src="/imgs/apps/{{$value.icon}}" />
                    {{/if}}
                </div>
                {{$value.title}}
            </a>
        </div>
    </div>
    {{/each}}
</script>