@page "/apps"

<div class="post-wrap">
    <h2 class="post-title">-&nbsp;Apps&nbsp;-</h2>
    <ul>
        <li>
            <a target="_blank" href="https://support.qq.com/products/75616"><h3>⚡~~~吐个槽_留言板~~~⚡</h3></a>
        </li>
        <li>
            <NavLink href="/signature"><h3>🌈~~~个性艺术签名设计~~~🌈</h3></NavLink>
        </li>
        <li>
            <NavLink href="/wallpaper"><h3>🎈~~~手机壁纸~~~🎈</h3></NavLink>
        </li>
        <li>
            <NavLink href="/2048"><h3>🎮~~~程序员版2048~~~🎮</h3></NavLink>
        </li>
        <li>
            <NavLink href="/gobang"><h3>⚫~~~五子棋~~~⚪</h3></NavLink>
        </li>
        <li>
            <NavLink href="/soul"><h3>🤢~~~毒鸡汤~~~🤮</h3></NavLink>
        </li>
        <li>
            <NavLink href="/bing"><h3>🔥~~~每日壁纸~~~🔥</h3></NavLink>
        </li>
        <li>
            <NavLink href="/girl"><h3>😍~~~随机妹子图~~~😍</h3></NavLink>
        </li>
        <li>
            <NavLink href="/cat"><h3>🐱~~~随机猫咪图~~~🐱</h3></NavLink>
        </li>
        <li>
            <NavLink href="/friendlinks"><h3>💕~~~友情链接~~~💕</h3></NavLink>
        </li>
    </ul>
</div>