@page "/apps"

<div class="post-wrap">
    <h2 class="post-title">-&nbsp;Apps&nbsp;-</h2>
    <div class="plus-row">
        <ul>
            @if (links == null)
            {
                <Loading />
            }
            else
            {
                <li class="plus-col-xs12 plus-col-md6">
                    <a target="_blank" href="https://support.qq.com/products/75616"><h3>💬~~~吐个槽_留言板~~~💬</h3></a>
                </li>
                @foreach (var item in links)
                {
                    <li class="plus-col-xs12 plus-col-md6">
                        <NavLink href="@item.Url"><h3>@item.Title</h3></NavLink>
                    </li>
                }
            }
        </ul>
    </div>
</div>

@code {
    private List<Link> links;

    protected override void OnInitialized()
    {
        links = new List<Link>
    {
            new Link
            {
                Title = "✍~~~个性艺术签名设计~~~✍",
                Url = "/signature"
            },
            new Link
            {
                Title = "🎈~~~手机壁纸~~~🎈",
                Url = "/wallpaper"
            },
            new Link
            {
                Title = "🌭~~~每日热点~~~🌭",
                Url = "/hot"
            },
            new Link
            {
                Title = "🎮~~~程序员版2048~~~🎮",
                Url = "/2048"
            },
            new Link
            {
                Title = "⚫~~~五子棋~~~⚪",
                Url = "/gobang"
            },
            new Link
            {
                Title = "🤢~~~毒鸡汤~~~🤮",
                Url = "/soul"
            },
            new Link
            {
                Title = "🎵~~~语音合成~~~🎵",
                Url = "/tts"
            },
            new Link
            {
                Title = "🔥~~~每日壁纸~~~🔥",
                Url = "/bing"
            },
            new Link
            {
                Title = "😍~~~随机妹子图~~~😍",
                Url = "/girl"
            },
            new Link
            {
                Title = "🐱~~~随机猫咪图~~~🐱",
                Url = "/cat"
            },
            new Link
            {
                Title = "⚡~~~IP地址查询~~~⚡",
                Url = "/ip2region"
            },
            new Link
            {
                Title = "👁~~~访问数据分析~~~👁",
                Url = "/analysis"
            },
            new Link
            {
                Title = "🔞~~~图集相册~~~🔞",
                Url = "/gallery"
            },
            new Link
            {
                Title = "🔗~~~友情链接~~~🔗",
                Url = "/friendlinks"
            }
        };
    }
}