@page "/fm"

<div class="post-wrap">
    <h3>📻~~~在线FM~~~📻</h3>
    <p>TODO...</p>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Common.SetTitleAsync("在线FM");
    }
}