@page "/fm"

<link href="/aplayer/APlayer.min.css" rel="stylesheet" />

@if (fm == null)
{
    <Loading />
}
else
{
    <div class="post-wrap">
        <div class="fm"></div>
    </div>
}

@code {
    private ServiceResult<IEnumerable<FMDto>> fm;

    protected override async Task OnInitializedAsync()
    {
        await Common.SetTitleAsync("在线FM");

        fm = await Http.GetFromJsonAsync<ServiceResult<IEnumerable<FMDto>>>("/fm/random");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (fm != null)
        {
            await Common.InvokeAsync("window.func.fmInit", fm.Result);
        }
    }
}