@page "/gallery"

<div class="post-wrap">
    <h3>🔞~~~图集相册~~~🔞</h3>
    <p>TODO...</p>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Common.SetTitleAsync("图集相册");
    }
}