@page "/girl"

<div class="imgbox girl-img">
    <img src="https://api2.meowv.com/common/girl/imgfile" />
</div>
<div class="btnbox">
    <button class="soul-btn" @onclick="@(async () => await Common.NavigateTo("girl", true))">再来一个妹子</button>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await Common.SetTitleAsync("随机妹子图");
    }
}