@page "/gobang"

<style>
    .gobang-box {
        width: 760px;
        margin: 0 auto;
    }

    .chess {
        width: 760px;
        height: 760px;
    }

   .chess .cell {
       float: left;
       width: 40px;
       height: 40px;
       position: relative;
       cursor: pointer;
       font-size: 10px;
       color: #ffd800;
   }

    .chess .cell::after {
        content: ' ';
        position: absolute;
        height: 2px;
        display: block;
        width: 100%;
        border-bottom: #f5d099 1px solid;
        background: #c8a06f;
        top: 50%;
        left: 0;
        z-index: 2;
    }

    .chess .cell::before {
        content: ' ';
        position: absolute;
        height: 100%;
        display: block;
        width: 2px;
        border-right: #f5d099 1px solid;
        background: #c8a06f;
        top: 0;
        left: 50%;
        z-index: 1;
    }

    .chess .cell .chess1 {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        text-align: center;
        line-height: 54px;
        background: #000000;
        left: 2px;
        top: 2px;
        position: absolute;
        z-index: 10;
        background-image: radial-gradient(#444 5%, #111 15%, #000 60%);
        box-shadow: 0px 0px 3px #333;
    }

    .chess .cell .chess2 {
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        text-align: center;
        left: 2px;
        top: 2px;
        position: absolute;
        z-index: 10;
        line-height: 54px;
        background-image: radial-gradient(#ffffff 5%, #f1f1f1 15%, #f1f1f1 60%);
        box-shadow: 0px 0px 3px #333;
    }
</style>

<div class="post-wrap">
    <div class="gobang-box">
        <div class="chess">
            @for (var i = 1; i <= NumberOfCheckerboard; i++)
            {
                @for (var j = 1; j <= NumberOfCheckerboard; j++)
                {
                    <div class="cell">
                        <span class="chess@(Chess[i - 1, j - 1])"></span>
                    </div>
                }
            }
        </div>
    </div>
</div>

@code {
    /// <summary>
    /// 棋盘纵横格子数量
    /// </summary>
    private const int NumberOfCheckerboard = 19;

    /// <summary>
    /// 棋盘二维数组 19✖19
    /// </summary>
    private int[,] Chess = new int[NumberOfCheckerboard, NumberOfCheckerboard];
}