@page "/ip2region"

<div class="plus-container ip-box">
    <div class="ip-search">
        <input type="text" placeholder="请输入IP地址" />
        <button>查询</button>
    </div>
    <div class="ip-region">
        <p>当前IP：116.233.237.199</p>
        <p>归属地：中国 上海 电信</p>
    </div>
</div>

@code {

}