@page "/tts"

<div class="post-wrap">
    <div class="tts-box">
        <div class="tts-textarea-wrap">
            <textarea maxlength="200"></textarea>
            <div class="tts-tip">
                最多可以输入 <span class="tts-tip-num">200</span> 个字
            </div>
            <div class="tts-demo">
                <span title="随机示例">🔄</span>
            </div>
            <div class="tts-clear">
                <span title="清空">❌</span>
            </div>
        </div>
        <div class="tts-setting">
            <div class="tts-setting-title">发音人</div>
            <div class="tts-setting-value">
                <label><input type="radio" name="pre" value="0" /> 标准女声</label>
                <label><input type="radio" name="pre" value="1" /> 标准女声</label>
                <label><input type="radio" name="pre" value="3" /> 标准女声</label>
                <label><input type="radio" name="pre" value="4" /> 标准女声</label>
            </div>
        </div>
        <div class="tts-setting">
            <div class="tts-setting-title">语速</div>
        </div>
        <div class="tts-setting">
            <div class="tts-setting-title">音调</div>
        </div>
        <div class="tts-setting">
            <div class="tts-setting-title">音量</div>
        </div>
    </div>
</div>

@code {

}