@{
    ViewData["Title"] = "随机猫咪图 - ";
}
<div class="main">
    <div class="loader"></div>
    <div class="container">
        <div class="imgbox">
            <img src="https://api.meowv.com/common/cat/" />
        </div>
    </div>
</div>