@{
    ViewData["Title"] = "Apps - ";
}
<div class="main">
    <div class="container">
        <div class="post-wrap">
            <h2 class="post-title">-&nbsp;Apps&nbsp;-</h2>
            <ul>
                <li>
                    <a asp-controller="Apps" asp-action="TuCao"><h3>吐个槽(留言板)</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Signature"><h3>个性艺术签名设计</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Wallpaper"><h3>手机壁纸</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Game2048"><h3>程序员版2048</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Hot"><h3>每日热点</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Gallery"><h3>图集相册</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Soul"><h3>毒鸡汤</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Girl"><h3>随机妹子图</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Cat"><h3>随机猫咪图</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Bing"><h3>每日壁纸</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="Mta"><h3>访问数据分析</h3></a>
                </li>
                <li>
                    <a asp-controller="Apps" asp-action="FriendLinks"><h3>友情链接</h3></a>
                </li>
                <li>
                    <a href="javascript:;" id="change_song_list"><h3>换一批歌单</h3></a>
                </li>
            </ul>
        </div>
    </div>
</div>