@page
@model IndexModel
<div id="articles"></div>
<nav class="text-right"><ul id="page"></ul></nav>
@section Scripts{
    <script src="~/js/bootstrap-paginator.min.js"></script>
    <script src="~/js/index.js" asp-append-version="true"></script>
}