@page
@model SearchModel
<div class="well well-sm text-center">
    <span>Search for &nbsp;“DotNet”&nbsp; results</span>
</div>
<div class="thumbnail">
    <div class="caption">
        <h1 class="vc-page-title"><a href="detail.html">标题标题标题标题标题标题</a></h1>
        <p class="vc-author-info">
            <span><i class="fa fa-book"></i> <a href="#">ASP.NET</a></span>
            <time><i class="fa fa-calendar"></i> 2019-4-23 20:17:56</time>
            <span><i class="fa fa-user"></i> 阿星Plus</span>
        </p>
        <p class="hidden-xs">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
        <p class="clearfix">
            <a class="hidden-xs pull-right vc-more-link" href="" role="button">继续阅读 &raquo;</a>
            <span class="vc-tags">
                <a href="">我是标签1</a>
                <a href="">我是标签2</a>
                <a href="">我是标签3</a>
            </span>
        </p>
    </div>
</div>
<div class="thumbnail">
    <div class="caption">
        <h1 class="vc-page-title"><a href="">标题标题标题标题标题标题</a></h1>
        <p class="vc-author-info">
            <time><i class="fa fa-calendar"></i> 2019-4-23 20:17:56</time>
            <span><i class="fa fa-user"></i> 阿星Plus</span>
        </p>
        <p class="hidden-xs">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
        <p class="clearfix">
            <a class="hidden-xs pull-right vc-more-link" href="" role="button">继续阅读 &raquo;</a>
            <span class="vc-tags">
                <a href="">我是标签1</a>
                <a href="">我是标签2</a>
                <a href="">我是标签3</a>
            </span>
        </p>
    </div>
</div>
<div class="thumbnail">
    <div class="caption">
        <h1 class="vc-page-title"><a href="">标题标题标题标题标题标题</a></h1>
        <p class="vc-author-info">
            <time><i class="fa fa-calendar"></i> 2019-4-23 20:17:56</time>
            <span><i class="fa fa-user"></i> 阿星Plus</span>
        </p>
        <p class="hidden-xs">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
        <p class="clearfix">
            <a class="hidden-xs pull-right vc-more-link" href="" role="button">继续阅读 &raquo;</a>
            <span class="vc-tags">
                <a href="">我是标签1</a>
                <a href="">我是标签2</a>
                <a href="">我是标签3</a>
            </span>
        </p>
    </div>
</div>
<div class="thumbnail">
    <div class="caption">
        <h1 class="vc-page-title"><a href="">标题标题标题标题标题标题</a></h1>
        <p class="vc-author-info">
            <time><i class="fa fa-calendar"></i> 2019-4-23 20:17:56</time>
            <span><i class="fa fa-user"></i> 阿星Plus</span>
        </p>
        <p class="hidden-xs">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
        <p class="clearfix">
            <a class="hidden-xs pull-right vc-more-link" href="" role="button">继续阅读 &raquo;</a>
            <span class="vc-tags">
                <a href="">我是标签1</a>
                <a href="">我是标签2</a>
                <a href="">我是标签3</a>
            </span>
        </p>
    </div>
</div>
<div class="thumbnail">
    <div class="caption">
        <h1 class="vc-page-title"><a href="">标题标题标题标题标题标题</a></h1>
        <p class="vc-author-info">
            <time><i class="fa fa-calendar"></i> 2019-4-23 20:17:56</time>
            <span><i class="fa fa-user"></i> 阿星Plus</span>
        </p>
        <p class="hidden-xs">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
        <p class="clearfix">
            <a class="hidden-xs pull-right vc-more-link" href="" role="button">继续阅读 &raquo;</a>
            <span class="vc-tags">
                <a href="">我是标签1</a>
                <a href="">我是标签2</a>
                <a href="">我是标签3</a>
            </span>
        </p>
    </div>
</div>
<div class="thumbnail">
    <div class="caption">
        <h1 class="vc-page-title"><a href="">标题标题标题标题标题标题</a></h1>
        <p class="vc-author-info">
            <time><i class="fa fa-calendar"></i> 2019-4-23 20:17:56</time>
            <span><i class="fa fa-user"></i> 阿星Plus</span>
        </p>
        <p class="hidden-xs">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
        <p class="clearfix">
            <a class="hidden-xs pull-right vc-more-link" href="" role="button">继续阅读 &raquo;</a>
            <span class="vc-tags">
                <a href="">我是标签1</a>
                <a href="">我是标签2</a>
                <a href="">我是标签3</a>
            </span>
        </p>
    </div>
</div>
<div class="thumbnail">
    <div class="caption">
        <h1 class="vc-page-title"><a href="">标题标题标题标题标题标题</a></h1>
        <p class="vc-author-info">
            <time><i class="fa fa-calendar"></i> 2019-4-23 20:17:56</time>
            <span><i class="fa fa-user"></i> 阿星Plus</span>
        </p>
        <p class="hidden-xs">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
        <p class="clearfix">
            <a class="hidden-xs pull-right vc-more-link" href="" role="button">继续阅读 &raquo;</a>
            <span class="vc-tags">
                <a href="">我是标签1</a>
                <a href="">我是标签2</a>
                <a href="">我是标签3</a>
            </span>
        </p>
    </div>
</div>
<div class="thumbnail">
    <div class="caption">
        <h1 class="vc-page-title"><a href="">标题标题标题标题标题标题</a></h1>
        <p class="vc-author-info">
            <time><i class="fa fa-calendar"></i> 2019-4-23 20:17:56</time>
            <span><i class="fa fa-user"></i> 阿星Plus</span>
        </p>
        <p class="hidden-xs">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
        <p class="clearfix">
            <a class="hidden-xs pull-right vc-more-link" href="" role="button">继续阅读 &raquo;</a>
            <span class="vc-tags">
                <a href="">我是标签1</a>
                <a href="">我是标签2</a>
                <a href="">我是标签3</a>
            </span>
        </p>
    </div>
</div>
<div class="thumbnail">
    <div class="caption">
        <h1 class="vc-page-title"><a href="">标题标题标题标题标题标题</a></h1>
        <p class="vc-author-info">
            <time><i class="fa fa-calendar"></i> 2019-4-23 20:17:56</time>
            <span><i class="fa fa-user"></i> 阿星Plus</span>
        </p>
        <p class="hidden-xs">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
        <p class="clearfix">
            <a class="hidden-xs pull-right vc-more-link" href="" role="button">继续阅读 &raquo;</a>
            <span class="vc-tags">
                <a href="">我是标签1</a>
                <a href="">我是标签2</a>
                <a href="">我是标签3</a>
            </span>
        </p>
    </div>
</div>
<div class="thumbnail">
    <div class="caption">
        <h1 class="vc-page-title"><a href="">标题标题标题标题标题标题</a></h1>
        <p class="vc-author-info">
            <time><i class="fa fa-calendar"></i> 2019-4-23 20:17:56</time>
            <span><i class="fa fa-user"></i> 阿星Plus</span>
        </p>
        <p class="hidden-xs">内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容...</p>
        <p class="clearfix">
            <a class="hidden-xs pull-right vc-more-link" href="" role="button">继续阅读 &raquo;</a>
            <span class="vc-tags">
                <a href="">我是标签1</a>
                <a href="">我是标签2</a>
                <a href="">我是标签3</a>
            </span>
        </p>
    </div>
</div>