@page
@model TagsModel
<ul class="list-unstyled tagCloud" id="tags">
    <li>
        <a class="weight1" title="3" href="tagslist.html">
            404
        </a>
    </li>
    <li>
        <a class="weight2" title="3" href="tagslist.html">
            ACCESS
        </a>
    </li>
    <li>
        <a class="weight3" title="1" href="tagslist.html">
            ActionFilter
        </a>
    </li>
    <li>
        <a class="weight4" title="2" href="tagslist.html">
            Administrator
        </a>
    </li>
    <li>
        <a class="weight5" title="2" href="tagslist.html">
            ADO.NET
        </a>
    </li>
    <li>
        <a class="weight6" title="1" href="tagslist.html">
            AES
        </a>
    </li>
</ul>
@section Scripts{
    <script src="~/js/tags.js" asp-append-version="true"></script>
}