@page
@model IndexModel
<div id="apps"></div>
@section Scripts{
    <script>
        document.title = "Apps - " + document.title;
        var result = [
            {
                "title": "个性艺术签名设计",
                "icon": "signature.png",
                "page": ""
            },
            {
                "title": "VIP电影在线播放",
                "icon": "video.png",
                "page": ""
            },
            {
                "title": "每日热点聚合",
                "icon": "news.png",
                "page": ""
            },
            {
                "title": "Excel批处理",
                "icon": "batchexcel.png",
                "page": "batchexcel"
            },
            {
                "title": "随机妹子图",
                "icon": "girl.png",
                "page": ""
            },
            {
                "title": "随机一猫图",
                "icon": "cat.png",
                "page": ""
            },
            {
                "title": "Bing壁纸",
                "icon": "bing.png",
                "page": ""
            },
            {
                "title": "每日一文",
                "icon": "dailyarticle.png",
                "page": ""
            },
            {
                "title": "找工作",
                "icon": "job.png",
                "page": ""
            }
        ];
        var html = template("apps_tmpl", result);
        document.getElementById('apps').outerHTML = html;
    </script>  
}