@page "/apps"
@{ 
    ViewData["Title"] = "Apps - ";
}
<div class="post-wrap">
    <h2 class="post-title">-&nbsp;Apps&nbsp;-</h2>
    <div class="plus-row">
        <ul>
            <li class="plus-col-xs12 plus-col-md6">
                <a target="_blank" href="https://support.qq.com/products/75616"><h3>💬~~~留言板~~~💬</h3></a>
            </li>
            <li class="plus-col-xs12 plus-col-md6">
                <a href="/hot"><h3>🍉~~~每日热点~~~🍉</h3></a>
            </li>
            <li class="plus-col-xs12 plus-col-md6">
                <a href="/friendlinks"><h3>🔗~~~友情链接~~~🔗</h3></a>
            </li>
            <li class="plus-col-xs12 plus-col-md6">
                <a href="/signature"><h3>✍~~~个性艺术签名设计~~~✍</h3></a>
            </li>
            <li class="plus-col-xs12 plus-col-md6">
                <a href="/gobang"><h3>⚫~~~五子棋~~~⚪</h3></a>
            </li>
            <li class="plus-col-xs12 plus-col-md6">
                <a href="/2048"><h3>🎮~~~程序员版2048~~~🎮</h3></a>
            </li>
            <li class="plus-col-xs12 plus-col-md6">
                <a href="/bing"><h3>🔥~~~每日壁纸~~~🔥</h3></a>
            </li>
            <li class="plus-col-xs12 plus-col-md6">
                <a href="/saying"><h3>🤢~~~毒鸡汤~~~🤮</h3></a>
            </li>
        </ul>
    </div>
</div>