@page "/saying"
@model Meowv.Blog.Web.Pages.Apps.SayingModel
@{
    ViewData["Title"] = "毒鸡汤 - ";
}
<div class="soul"><h1>@Model.Saying</h1></div>
<div class="soul"><button class="soul-btn" onclick="javascript: location.reload();">再来一碗</button></div>