@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="lang"></div>
    <div class="content">
        <div class="top">
            <div class="header">
                <a>
                    <img alt="logo" class="logo" src="/images/logo.png" />
                    <span class="title">阿星Plus</span>
                </a>
            </div>
            <div class="desc">🤣阿星Plus⭐⭐⭐后台管理系统</div>
        </div>
        @Body
    </div>
    <Meowv.Blog.Admin.Shared.Footer />
</div>