@inherits LayoutComponentBase

<div class="container__b__0">
    <div class="lang"></div>
    <div class="content">
        <div class="top">
            <div class="header">
                <Avatar Size="64" Icon="user" Class="logo" Src="https://static.meowv.com/images/logo.png" />
            </div>
            <div class="desc">🤣Admin - 阿星Plus⭐⭐⭐</div>
        </div>
        @Body
    </div>
    <Meowv.Blog.Admin.Shared.Footer />
</div>