@if (isApp)
{
    <div class="post-wrap">
        <h2 class="eror-tip">Sorry, there's nothing at this address.😖😖😖</h2>
    </div>
}
else
{
    <h2 class="eror-tip">Sorry, there's nothing at this address.😖😖😖</h2>
}

@code{
    [Parameter]
    public bool isApp { get; set; } = false;
}