<footer id="footer" class="footer">
    <div class="copyright">
        <span>
            Powered by <a target="_blank" href="http://dot.net">.NET Core 3.1 and Blazor WebAssembly</a> on Linux
        </span>
    </div>
</footer>