@inject IJSRuntime JSRuntime

<header>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-header header-logo">
                <a href="/"></a>
                <NavLink class="menu-item" href="" Match="NavLinkMatch.All">
                    😍阿星Plus
                </NavLink>
            </div>
            <div class="menu navbar-right">
                <NavLink class="menu-item" href="posts">Posts</NavLink>
                <NavLink class="menu-item" href="categories">Categories</NavLink>
                <NavLink class="menu-item" href="tags">Tags</NavLink>
                <NavLink class="menu-item apps" href="apps">Apps</NavLink>
                <input id="switch_default" type="checkbox" class="switch_default" @onchange="SwitchTheme" />
                <label for="switch_default" class="toggleBtn"></label>
            </div>
        </div>
    </nav>
    <nav class="navbar-mobile">
        <div class="container">
            <div class="navbar-header">
                <div>
                    <NavLink class="menu-item" href="" Match="NavLinkMatch.All">😍阿星Plus</NavLink>
                    <a id="mobile-toggle-theme">&nbsp;·&nbsp;Light</a>
                </div>
                <div class="menu-toggle" @onclick="ToggleNavMenu">&#9776; Menu</div>
            </div>
            <div class="menu @NavMenuCssClass">
                <NavLink class="menu-item" href="posts">Posts</NavLink>
                <NavLink class="menu-item" href="categories">Categories</NavLink>
                <NavLink class="menu-item" href="tags">Tags</NavLink>
                <NavLink class="menu-item apps" href="apps">Apps</NavLink>
            </div>
        </div>
    </nav>
</header>

@code {
    private bool collapseNavMenu = false;

    private string NavMenuCssClass => collapseNavMenu ? "active" : null;

    /// <summary>
    /// 显示/隐藏 菜单
    /// </summary>
    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        await JSRuntime.InvokeVoidAsync("window.func.switchTheme");
    }

    /// <summary>
    /// 切换主题
    /// </summary>
    private async Task SwitchTheme()
    {
       var current_theme = await GetStorageAsync("theme") ?? "white";

        if (current_theme == "white")
        {
            await SetStorageAsync("theme", "dark");
        }
        else
        {
            await SetStorageAsync("theme", "white");
        }

        await JSRuntime.InvokeVoidAsync("window.func.switchTheme");
    }

    /// <summary>
    /// 
    /// </summary>
    /// <param name="name"></param>
    /// <param name="value"></param>
    /// <returns></returns>
    private async Task SetStorageAsync(string name, string value)
    {
        await JSRuntime.InvokeVoidAsync("window.func.setStorage", name, value);
    }

    /// <summary>
    /// 
    /// </summary>
    /// <param name="name"></param>
    /// <returns></returns>
    private async Task<string> GetStorageAsync(string name)
    {
        return await JSRuntime.InvokeAsync<string>("window.func.getStorage", name);
    }
}