html {
    height: 100%;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../lib/bootstrap/dist/fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../lib/bootstrap/dist/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../lib/bootstrap/dist/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../lib/bootstrap/dist/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../lib/bootstrap/dist/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('.../lib/bootstrap/dist/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

::-moz-selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

::selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
    -webkit-box-shadow: inset 1px 1px 2px #E0E0E0;
    border: 1px solid #D8D8D8;
}

::-webkit-scrollbar-thumb {
    background: #e8e8e8;
    -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
}

::-webkit-scrollbar-thumb:hover {
    -webkit-box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

body:after {
    clear: both;
    display: block;
    content: ".";
    visibility: hidden;
}

img {
    border: none;
    width: 100%;
}

.jumbotron {
    background-color: #fff;
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    margin-top: 40px;
}

.title {
    color: #000;
    font-weight: normal;
    letter-spacing: 4px;
    margin: 0 0 30px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.author {
    color: #999;
    margin: 40px 0 50px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}

.content p {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: justify;
    padding: 0 20px;
    text-indent: 2em;
}

.random {
    text-align: center;
    padding: 50px 0;
}

.random button::before {
    content: "继续阅读";
}

.btnSign {
    width: 100%;
}

@media screen and (max-width: 992px) {
    .minscreen {
        margin: 10px 0;
    }
}

.outer {
    margin: 5% 10% 2% 10%;
}

.blog-title a {
    display: block;
    font-family: STFangSong, Helvetica, Arial, Vernada, Tahoma, STXihei, "Microsoft YaHei", "Songti SC", SimSun, Heiti, sans-serif;
    font-size: 18px;
}

.blog-title {
    cursor: pointer;
    padding: 15px 20px;
}

li.blog-title:hover {
    background-color: #eee;
    font-size: 100%;
}

.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
}

.tabs nav {
    text-align: center;
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
    text-decoration: none;
}

.tabs nav a span {
    vertical-align: middle;
    font-size: 0.75em;
}

.tabs nav li.tab-current a {
    color: #74777b;
}

.tabs nav a:focus {
    outline: none;
}

.content-wrap {
    position: relative;
}

.content-wrap section ul li a {
    text-align: left;
}

.content-wrap section {
    display: none;
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
    text-align: center;
}

.nav.navbar-nav.navbar-right {
    margin-right: 0;
}

.content-wrap section.content-current {
    display: block;
}

.tabs-style-topline {
    max-width: 1200px;
    margin-top: 20px;
}

.tabs-style-topline nav li {
    border: 1px solid rgba(40, 44, 42, 0.1);
}

.tabs-style-topline nav li:not(:last-child) {
    border-right: none;
}

.tabs-style-topline nav li.tab-current {
    border-top-color: #2CC185;
    border-bottom: none;
}

.tabs-style-topline nav a {
    padding: 0.65em 0 0.5em;
    background: rgba(40, 44, 42, 0.05);
    color: #74777b;
    line-height: 1;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.tabs-style-topline nav a:hover,
.tabs-style-topline nav a:focus {
    color: #2CC185;
}

.tabs-style-topline nav li.tab-current a {
    background: none;
    box-shadow: inset 0 3px 0 #2CC185;
    color: #2CC185;
}

.tabs-style-topline nav a span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.5em;
}

.navbar-brand img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 15px;
}

.job-outer {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

ul.collapsed>img {
    width: 200px;
}

ul.collapsed li a {
    text-decoration: none;
}

ul.collapsed li a p:first-child {
    color: #3d9ccc;
    font-weight: bold;
}

ul.collapsed li a p:nth-child(2) {
    color: #000;
}

ul.collapsed li a div span {
    color: #000;
    line-height: 70px;
}

ul.collapsed li a div:nth-child(2) span {
    color: #ff5500;
}

ul.collapsed li a div:nth-child(3) span {
    color: #2CC185;
}

ul.collapsed li a div:nth-child(4) span {
    color: #1787fb;
}

.checkbox {
    padding-left: 30px;
}

.checkbox label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    padding-left: 5px;
}

.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: -20px;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}

.checkbox input[type="checkbox"] {
    opacity: 0;
    z-index: 1;
}

.checkbox input[type="checkbox"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked+label::after {
    font-family: "FontAwesome";
    content: "\f00c";
}

.checkbox input[type="checkbox"]:indeterminate+label::after {
    display: block;
    content: "";
    width: 10px;
    height: 3px;
    background-color: #555555;
    border-radius: 2px;
    margin-left: -16.5px;
    margin-top: 7px;
}

.checkbox input[type="checkbox"]:disabled+label {
    opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}

.checkbox.checkbox-inline {
    margin-top: 5px;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
    color: #fff;
}

.checkbox-primary input[type="checkbox"]:indeterminate+label::before {
    background-color: #337ab7;
    border-color: #337ab7;
}

.checkbox-primary input[type="checkbox"]:indeterminate+label::after {
    background-color: #fff;
}

input[type="checkbox"].styled:checked+label:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

input[type="checkbox"] .styled:checked+label::before {
    color: #fff;
}

input[type="checkbox"] .styled:checked+label::after {
    color: #fff;
}

.meowvcity {
    font-size: 12px;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 340px;
    *border: 1px solid #dedede;
    box-shadow: 0 0 5px 1px #dedede;
    padding: 10px;
    background: #fff;
}

.meowvcity h3 {
    font-size: 12px;
    font-weight: normal;
    color: #666;
}

.meowvcity .meowvcity_nav {
    font-size: 0;
    list-style: none;
}

.meowvcity .meowvcity_nav li:first-child{
    margin-left:-41px;
}

.meowvcity .meowvcity_nav li {
    cursor: pointer;
    font-size: 12px;
    margin-left: -1px;
    border: 1px solid #dedede;
    display: inline-block;
    color: #666;
    padding: 3px 7px;
    transition: all .2s;
}

.meowvcity .meowvcity_nav li.active {
    background-color: #337ab7;
    border-color: #337ab7;
    color: #fff;
}

.meowvcity .meowvcity_body {
    padding: 10px 5px;
    max-height: 230px;
    overflow-y: auto;
}

.meowvcity .meowvcity_body .meowvcity_item {
    display: none;
}

.meowvcity .meowvcity_body .meowvcity_item.active {
    display: block;
}

.meowvcity_item dt,
.meowvcity_item dd {
    display: inline-block;
}

.meowvcity_item dl {
    padding: 3px 0;
}

.meowvcity_item dt {
    color: #337ab7;
    padding-top: 3px;
    vertical-align: top;
    width: 10%;
}

.meowvcity_item dd {
    width: 90%;
}

.meowvcity_item dd span {
    width: 24%;
    display: inline-block;
    cursor: pointer;
    padding: 3px 0;
    border: 1px solid #fff;
    transition: all .3s;
}

.meowvcity_item dd span:hover {
    color: #337ab7;
    text-decoration: underline;
}

.meowvcity .result {
    list-style: none;
}

.meowvcity .result li {
    padding: 5px;
    background-color: #fff;
    margin: 2px 0;
    cursor: pointer;
    overflow: hidden;
}

.meowvcity .result li.active,
.meowvcity .result li.active .letter {
    background-color: #337ab7;
    color: #fff;
}

.meowvcity .result li .letter {
    float: right;
    color: #999;
}

.meowvcity .result li .noresult {
    padding: 0 8px;
    color: rgb(253, 130, 27);
}

.meowvcity .result li:hover,
.meowvcity .result li:hover>.letter {
    background-color: #337ab7;
    color: #fff!important;
}

.meowvcity_body::-webkit-scrollbar {
    width: 5px;
    height: 16px;
    background-color: #F5F5F5;
}

.meowvcity_body::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.meowvcity_body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #dedede;
}

.meowvcity_body::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.job-detail > img {
    width: 100px;
}

.job-detail p {
    font-size: 16px;
    font-weight: bold;
}

.job-detail p a {
    color: #000;
}

.job-detail p a:hover {
    color: #337ab7;
}

.job-detail p:first-child {
    text-align: center;
}

.job-detail p:first-child span:not(:last-child) {
    padding-right: 5px;
}

.job-detail p:first-child span:not(:last-child)::after {
    content: " ｜";
}

.job-description {
    font-size: 14px;
    text-align: justify;
    width: 96%;
    margin: 0 auto 10px;
}