<header class="vc-header navbar-fixed-top">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#vmenu">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <h1 class="vc-logo">阿星Plus</h1>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="vmenu">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                    </li>
                    <li>
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-book"></i> Categories<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id="categories">阿星Plus</ul>
                    </li>
                    <li>
                        <a href="/tags"><i class="fa fa-tags"></i> Tags</a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-flask"></i><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" id="beta">
                            <li>
                                <a href="#">免费艺术签名</a>
                            </li>
                            <li>
                                <a href="#">Excel数据提取</a>
                            </li>
                        </ul>
                    </li>
                    <li><a target="_blank" href="https://github.com/Meowv"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>