<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
    <title>@ViewData["Title"]阿星Plus</title>
    <meta name="keywords" content="阿星Plus">
    <meta name="description" content="生命不息,奋斗不止">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>
    <partial name="_HeaderPartial">
    <div class="container vc-container">
        <div class="row">
            <div class="col-sm-12 col-md-9">
                @RenderBody()
            </div>
            <partial name="_SiteRightPartial">
        </div>
    </div>
    <partial name="_FooterPartial">
    <partial name="_ModalPartial">
    <partial name="_TemplatePartial">
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/art-template@4.13.2/lib/template-web.js"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>