<!--WeChat-->
<div class="modal fade" id="wechat" tabindex="-1" role="dialog" aria-labelledby="weixin-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="weixin-title">WeChat</h4>
            </div>
            <div class="modal-body text-center">
                <img src="/imgs/wechat.jpg" />
            </div>
        </div>
    </div>
</div>