<div class="visible-lg visible-md col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <form role="search">
                <div class="form-group" style="margin-bottom:0;">
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <h4 class="vc-widget-title">TOP TAGS</h4>
        <div class="panel-body tags">
            <a href="#" class="">我是标签1</a>
            <a href="#" class="">我是标签2</a>
            <a href="#" class="">我是标签3</a>
            <a href="#" class="">我是标签4</a>
            <a href="#" class="">我是标签5</a>
            <a href="#" class="">我是标签6</a>
            <a href="#" class="">我是标签7</a>
            <a href="#" class="">我是标签8</a>
            <a href="#" class="">我是标签9</a>
            <a href="#" class="">我是标签10</a>
        </div>
    </div>
    <div class="panel panel-default">
        <h4 class="vc-widget-title">FRIEND LINKS</h4>
        <div class="panel-body">
            <div class="row text-center">
                <a href="#!" class="col-md-6 vc-a">友情链接</a>
                <a href="#!" class="col-md-6 vc-a">友情链接</a>
                <a href="#!" class="col-md-6 vc-a">友情链接</a>
                <a href="#!" class="col-md-6 vc-a">友情链接</a>
                <a href="#!" class="col-md-6 vc-a">申请友链</a>
            </div>
        </div>
    </div>
</div>