<div class="visible-lg visible-md col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <div role="search">
                <div class="form-group" style="margin-bottom:0;">
                    <input type="search" class="form-control" id="search" placeholder="Search...">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <h4 class="vc-widget-title">TOP TAGS</h4>
        <div class="panel-body tags" id="top_tags">阿星Plus</div>
    </div>
    <div class="panel panel-default">
        <h4 class="vc-widget-title">FRIEND LINKS</h4>
        <div class="panel-body">
            <div class="row text-center">
                <a href="#!" class="col-md-6 vc-a">友情链接</a>
                <a href="#!" class="col-md-6 vc-a">友情链接</a>
                <a href="#!" class="col-md-6 vc-a">友情链接</a>
                <a href="#!" class="col-md-6 vc-a">友情链接</a>
                <a href="#!" class="col-md-6 vc-a">申请友链</a>
            </div>
        </div>
    </div>
</div>