<div class="visible-lg visible-md col-md-3">
    <div class="panel panel-default">
        <div class="panel-body">
            <div role="search">
                <div class="form-group" style="margin-bottom:0;">
                    <input type="search" class="form-control" id="search" placeholder="Search...">
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <h4 class="vc-widget-title">HOT ARTICLES</h4>
        <div class="panel-body hot-articles">
            <ul id="hot_articles">
                <li><a href="/">阿星Plus</a></li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <h4 class="vc-widget-title">TOP TAGS</h4>
        <div class="panel-body top-tags" id="top_tags">阿星Plus</div>
    </div>
    <div class="panel panel-default">
        <h4 class="vc-widget-title">FRIEND LINKS</h4>
        <div class="panel-body friendlinks" id="friendlinks">阿星Plus</div>
    </div>
</div>