<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>基本介绍</title>
    <link href="../../lib/layui/css/layui.css" rel="stylesheet" />
    <link href="../../lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../lib/winui/css/winui.css" rel="stylesheet" />
    <style>
        ol {
            padding-left: 20px;
        }

            ol > li {
                list-style-type: decimal;
                font-size: 13px;
                color: #444
            }
    </style>
</head>
<body class="winui-window-body">
    <div class="winui-tab" style="height:100%">
        <div class="winui-tab-left">
            <div class="winui-scroll-y" style="height:auto;position:absolute;top:0;bottom:0;">
                <ul class="winui-tab-nav">
                    <li class="winui-this"><i class="fa fa-info-circle fa-fw"></i>模板介绍</li>
                    <li><i class="fa fa-clock-o fa-fw"></i>版本记录</li>
                    <li><i class="fa fa-bug fa-fw"></i>已知BUG</li>
                </ul>
            </div>
        </div>
        <div class="winui-tab-right">
            <div class="winui-scroll-y">
                <div class="winui-tab-content">
                    <div class="winui-tab-item layui-show">
                        <blockquote class="layui-elem-quote">
                            WinAdmin —— 基于Layui打造的一款Win10风格前端模板！
                        </blockquote>
                        <div class="layui-collapse" style="font-size:14px;">
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">简介</h2>
                                <div class="layui-colla-content layui-show">
                                    <blockquote class="layui-elem-quote">
                                        WinAdmin是由.NET程序员打造的一个Win10风格前端模板。<br />
                                        由作者基于Layui编写的一个winui.js模块主导。<br />
                                        winui.js封装了一些常用Api，例如：<br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;自定义右键菜单；<br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;窗口的打开、关闭、最大化、最小化、置顶等；<br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;桌面菜单、开始菜单等数据的动态加载。<br /><br />
                                        因此，你几乎不用写HTML代码，即可建成一个基本的Win10风格界面。<br />
                                    </blockquote>
                                </div>
                            </div>
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">兼容性</h2>
                                <div class="layui-colla-content">
                                    <blockquote class="layui-elem-quote">
                                        由于WinAdmin并非职业前端人员打造，因此兼容性并不强！<br />
                                        目前开发调试全用的Google Chrome浏览器，因此WinCMS并不兼容IE、火狐、以及一些他的浏览器！<br />
                                        此外，WinAdmin并非响应式，不支持手机，平板等。推荐台式或者笔记本！
                                    </blockquote>
                                </div>
                            </div>
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title">说明</h2>
                                <div class="layui-colla-content">
                                    <blockquote class="layui-elem-quote">
                                        1、无兼容性<br />
                                        2、非响应式<br />
                                        3、需一定前端基础才能使用<br />
                                        4、改套模板几乎不更新，看作者心情。<br />
                                        5、开始菜单只支持两级。<br />
                                        6、目前支持桌面菜单和开始菜单的动态渲染，磁贴菜单暂不支持。（你也可以直接在页面写html然后调用window.open()方法来打开窗口）<br />
                                        7、文档可能整理不全，建议查看源码，或者直接二次开发<br />
                                        8、请尽量看懂index.js里面的代码，然后自己模仿，不要无脑直接用。<br />
                                    </blockquote>
                                </div>
                            </div>
                            <div class="layui-colla-item">
                                <h2 class="layui-colla-title" style="color:#ff6a00">特别注意</h2>
                                <div class="layui-colla-content">
                                    <blockquote class="layui-elem-quote">
                                        1、非独立页面（也就是非iframe）使用layer请配置参数{zIndex:layer.zIndex}<br />
                                        2、弹窗请尽量使用iframe（type:2）<br />
                                        3、dektop、window、start等模块请按需加载（不需要就别引入了）<br />
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <blockquote class="layui-elem-quote">更多请看文档：<a style="color:#0094ff" href="http://www.win-ui.com/doc" target="_blank">点击前往</a></blockquote>
                    </div>
                    <div class="winui-tab-item">
                        <ul class="layui-timeline">
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">2018年04月18日</h3>
                                    <p>
                                        WinAdmin 1.0.0 开源于Github、码云
                                    </p>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <div class="layui-timeline-title">开发阶段</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="winui-tab-item">
                        <ol>
                            <li>最大化后改变浏览器视口大小，窗口的位置会错乱</li>
                            <li>在窗口未加载完成时进行点击操作，底部任务项样式会错乱</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../../lib/layui/layui.js"></script>
    <script type="text/javascript">
        layui.config({
            base: '../../lib/winui/' //指定 winui 路径
        }).use(['winui']);

        window.onload = function () {
            winui.init();
        }
    </script>
</body>
</html>