<div class="main">
    <div class="container">
        <div class="post-wrap tags">
            <h2 class="post-title">
                <script id="tagName_tmpl" type="text/template">
                    -&nbsp;Tag&nbsp;·&nbsp;{{@@result}}&nbsp;-
                </script>
            </h2>
        </div>
        <div class="post-wrap archive">
            <script id="tag_post_tmpl" type="text/template">
                {{each result}}
                <h3>{{$value.year}}</h3>
                {{each $value.posts}}
                <article class="archive-item">
                    <a class="archive-item-link" href="{{$value.url}}">{{$value.title}}</a>
                    <span class="archive-item-date">{{$value.creationTime}}</span>
                </article>
                {{/each}}
                {{/each}}
            </script>
        </div>
    </div>
    <div class="loader"></div>
</div>
@section scripts{
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/art-template@4.13.2/lib/template-web.js"></script>
    <script>
        var name = location.pathname.replace(/tag|\//gi, "");

        axios.all([getTagName(name), getPostsByTagName(name)])
            .then(axios.spread(function (tagNameResponse, postsResponse) {
                if (tagNameResponse.data.isSuccess) {
                    document.title = tagNameResponse.data.result + " - " + document.title;
                    var html = template("tagName_tmpl", tagNameResponse.data);
                    document.getElementsByClassName('post-title')[0].innerHTML = html;
                }
                if (postsResponse.data.isSuccess) {
                    var html = template("tag_post_tmpl", postsResponse.data);
                    document.getElementsByClassName('post-wrap archive')[0].innerHTML = html;
                    document.getElementsByClassName('loader')[0].remove();
                }
            })).catch(function (error) {
                console.log(error);
            });

        function getTagName(name) {
            return axios.get(`${api_domain}/api/blog/tag?name=${name}`);
        }

        function getPostsByTagName(name) {
            return axios.get(`${api_domain}/api/blog/post/querybytag?name=${name}`);
        }
    </script>
}