.minesweeper-game div {
    line-height: 0;
    font-size: 0;
    float: left;
}

.minesweeper-board {
    display: inline-block;
    font-family: Arial;
    background-color: silver;
}

.minesweeper-medium {
    width: 276px;
    height: 318px;
    margin: 50px auto;
}

.minesweeper-board div {
    background-image: url(../images/minesweeper/sprite100.gif);
}

.minesweeper-gamepiece {
    min-width: 16px;
    min-height: 16px;
    max-width: 16px;
    max-height: 16px;
    font-size: 0px;
}

.minesweeper-unrevealed {
    background-position: 0px -39px;
}

.minesweeper-flagged {
    background-position: -16px -39px;
}

.minesweeper-mine {
    background-position: -64px -39px;
}

.minesweeper-mine-smiley {
    background-image: url("../smiley-small.png");
}

.minesweeper-0 {
    background-position: 0px -23px;
}

.minesweeper-1 {
    background-position: -16px -23px;
}

.minesweeper-2 {
    background-position: -32px -23px;
}

.minesweeper-3 {
    background-position: -48px -23px;
}

.minesweeper-4 {
    background-position: -64px -23px;
}

.minesweeper-5 {
    background-position: -80px -23px;
}

.minesweeper-6 {
    background-position: -96px -23px;
}

.minesweeper-7 {
    background-position: -112px -23px;
}

.minesweeper-8 {
    background-position: -128px -23px;
}

.minesweeper-border-jointleft {
    background-position: -56px -81px;
    width: 10px;
    height: 10px
}

.minesweeper-border-jointright {
    background-position: -66px -81px;
    width: 10px;
    height: 10px
}

.minesweeper-border-horizontal {
    background-position: -40px -81px;
    width: 16px;
    height: 10px;
}

.minesweeper-border-vertical {
    background-position: -134px -39px;
    width: 10px;
    height: 16px;
}

.minesweeper-border-vertical-long {
    background-position: -134px -39px;
    width: 10px;
    height: 32px;
}

.minesweeper-border-bottomleft {
    background-position: -20px -81px;
    width: 10px;
    height: 10px;
}

.minesweeper-border-bottomright {
    background-position: -30px -81px;
    width: 10px;
    height: 10px;
}

.minesweeper-border-topleft {
    background-position: 0px -81px;
    width: 10px;
    height: 10px;
}

.minesweeper-border-topright {
    background-position: -10px -81px;
    width: 10px;
    height: 10px;
}

.minesweeper-time-0 {
    background-position: 0 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-1 {
    background-position: -13px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-2 {
    background-position: -26px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-3 {
    background-position: -39px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-4 {
    background-position: -52px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-5 {
    background-position: -65px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-6 {
    background-position: -78px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-7 {
    background-position: -91px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-8 {
    background-position: -104px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-9 {
    background-position: -117px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-time-blank {
    background-position: -130px 0;
    width: 13px;
    height: 23px;
}

.minesweeper-board #mines_hundreds {
    margin: 4px 0 5px 6px;
}

.minesweeper-board #mines_tens {
    margin: 4px 0 5px 0px;
}

.minesweeper-board #mines_ones {
    margin: 4px 0 5px 0px;
}

.minesweeper-board #seconds_hundreds {
    margin: 4px 0 5px 0;
}

.minesweeper-board #seconds_tens {
    margin: 4px 0 5px 0;
}

.minesweeper-board #seconds_ones {
    margin: 4px 6px 5px 0;
}

.minesweeper-board #face {
    margin-top: 3px;
    margin-bottom: 3px;
}

.minesweeper-board .minesweeper-face-smile {
    background-position: 0px -55px;
    width: 26px;
    height: 26px;
}

.minesweeper-board .minesweeper-face-dead {
    background-position: -78px -55px;
    width: 26px;
    height: 26px;
}

.minesweeper-board .minesweeper-face-oooh {
    background-position: -52px -55px;
    width: 26px;
    height: 26px;
}

.minesweeper-board .minesweeper-face-win {
    background-position: -104px -55px;
    width: 26px;
    height: 26px;
}