<header id="header" class="header">
    <nav class="mobile-nav">
        <h1 class="nickname">喵呜网</h1>
        <ul class="mobile-nav-menu">
            <label for="mobile-menu-toggle"><a>&#9776; Menu</a></label>
            <input type="checkbox" id="mobile-menu-toggle" />
            <ul class="mobile-nav-link">
                <a href="/">Home</a>
                <a href="/archives">Archives</a>
                <a href="/publication">Publication</a>
                <a href="/talk">Talk</a>
                <a href="/about">关于</a>
                <a href="/gab">扯淡集</a>
                <a href="/atom.xml">RSS</a>
            </ul>
        </ul>
    </nav>
    <nav id="main-nav" class="main-nav nav-left">
        <a class="main-nav-link" href="/">Home</a>
        <a class="main-nav-link" href="/archives">Archives</a>
        <a class="main-nav-link" href="/publication">Publication</a>
        <a class="main-nav-link" href="/talk">Talk</a>
        <a class="main-nav-link" href="/about">关于</a>
        <a class="main-nav-link" href="/gab">扯淡集</a>
        <a class="main-nav-link" href="/atom.xml">RSS</a>
    </nav>
</header>