@page
@model ListModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>分类列表</title>
    <link href="~/admin/lib/layui/css/layui.css" rel="stylesheet" />
    <link href="~/admin/lib/font-awesome-4.7.0/css/font-awesome.css" rel="stylesheet" />
    <link href="~/admin/lib/winui/css/winui.css" rel="stylesheet" />
</head>
<body>
    <div class="winui-toolbar">
        <div class="winui-tool">
            <button id="addCategory" class="winui-toolbtn">
                <i class="fa fa-plus" aria-hidden="true"></i>新增分类
            </button>
            <button id="editCategory" class="winui-toolbtn">
                <i class="fa fa-pencil" aria-hidden="true"></i>编辑分类
            </button>
            <button id="deleteCategory" class="winui-toolbtn">
                <i class="fa fa-trash" aria-hidden="true"></i>删除选中
            </button>
        </div>
    </div>
    <div style="margin:auto 10px;">
        <table id="category" lay-filter="categorytable"></table>
        <script type="text/html" id="barCategory">
            <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
    </div>
    <script src="~/admin/lib/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/admin/js/'
        }).use('category');
    </script>
</body>
</html>