<div id="container" class="container">
    <article id="post-2018-summary" class="article article-type-post" itemscope itemprop="blogPost">
        @{ await Html.RenderPartialAsync("_NavPartialView");}
        <hr />
        <div class="article-inner">
            <header class="article-header">
                <h1 class="article-title" itemprop="name">
                    2018 平淡无奇
                </h1>
            </header>
            <div class="article-entry typo" itemprop="articleBody">
                <blockquote>
                    <p>原文地址：<a href='https://geekplux.com/2019/01/05/2018-summary'>https://geekplux.com/2019/01/05/2018-summary.html</a></p>
                </blockquote>
                <img src="http://geekpluxblog.oss-cn-hongkong.aliyuncs.com/cat.jpg" alt="cat">
                <img src="http://geekpluxblog.oss-cn-hongkong.aliyuncs.com/cat.jpg" alt="cat">
                <p>2018 年对我来说是平淡无奇的一年，没什么让自己满意的成绩，有种辜负了时光的感觉。以前的总结都是以人生阶段为单位的：</p>
                <ul>
                    <li><a href='https://geekplux.com/2014/02/02/goodbye_my_university'>Goodbye，我的大学</a></li>
                    <li><a href='https://geekplux.com/2016/02/15/two-years-after-graduated'>毕业后的两年</a></li>
                    <li><a href='https://geekplux.com/2018/06/01/the-summary-of-graduate-career'>研究生生涯总结</a></li>
                </ul>
                <p>不曾想，学生生涯又结束了一次，以后打算以年为单位去总结，絮叨一下今是昨非。</p>
            </div>
            <footer class="article-footer">
                <ul class="article-meta">
                    <li>
                        <span class="label">Published Date:</span>
                        <a href='/2019/01/05/2018-summary' class='article-date'>
                            <time datetime="2019-01-05T20:53:05.000Z" itemprop="datePublished">2019-01-05</time>
                        </a>
                    </li>
                    <li>
                        <span class="label">Category:</span>
                        <div class="article-category">
                            <a class="article-category-link" href="/categories/Life/">Life</a>
                        </div>
                    </li>
                    <li>
                        <span class="label">Tag:</span>
                        <ul class="article-tag-list">
                            <li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Life/">Life</a></li>
                            <li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/Summary/">Summary</a></li>
                            <li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/总结/">总结</a></li>
                            <li class="article-tag-list-item"><a class="article-tag-list-link" href="/tags/生活/">生活</a></li>
                        </ul>
                    </li>
                    <hr />
                </ul>
            </footer>
        </div>
        <nav id="article-nav" class="article-nav">
            <a href='/2018/08/28/how-to-implement-sankey-diagram' id='article-nav-newer' class='article-nav-link-wrap newer'>
                <strong class="article-nav-caption">Newer</strong>
                <div class="article-nav-title">
                    数据可视化之 Sankey 桑基图的实现
                </div>
            </a>
            <a href='/2018/03/16/how-to-picking-uniform-points-in-irregular-polygon' id='article-nav-older' class='article-nav-link-wrap older'>
                <strong class="article-nav-caption">Older</strong>
                <div class="article-nav-title">如何在不规则多边形内均匀撒点的算法</div>
            </a>
        </nav>
    </article>
    <section id="comments" class="comments">
        <div id="disqus_thread">
            <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
    </section>
</div>