<div id="container" class="container">
    <div class="archive-container">
        @{ await Html.RenderPartialAsync("_NavPartialView");}
        <hr class="header-hr header-hr-left" />
        <section class="archives-wrap">
            <div class="archives">
                <article class="archive-article archive-type-post">
                    <div class="archive-article-inner">
                        <header class="archive-article-header">
                            <a href='/2012/10/25/plan_or_not' class='archive-article-date'>
                                <time datetime="2012-10-25T18:58:37.000Z" itemprop="datePublished">Oct 25 2012</time>
                            </a>
                            <h1 itemprop="name">
                                <a class='archive-article-title' href='detail.html'>该不该制定计划</a>
                            </h1>
                        </header>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>