@page "/categories"
@model Meowv.Blog.Web.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Categories - ";

    var categories = Model.Categories.Result;
}
<div class="post-wrap categories">
    <h2 class="post-title">-&nbsp;Categories&nbsp;-</h2>
    <div class="categories-card">
        @foreach (var item in categories)
        {
            <div class="card-item">
                <div class="categories">
                    <a href="/category/@item.Alias">
                        <h3>
                            <i class="iconfont iconcode"></i>
                            @item.Name
                        </h3>
                        <small>(@item.Total)</small>
                    </a>
                </div>
            </div>
        }
    </div>
</div>