

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>通讯录</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="../../layuiadmin/style/template.css" media="all">
</head>
<body>


<div class="layui-fluid layadmin-maillist-fluid">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="../../layuiadmin/style/res/template/character.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>胡歌</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Hu Ge studio</strong>
              <br>
              E-mail:xxx@baidu.com
              <br>
              Weibo: https://weibo.com/hu_ge 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="../../layuiadmin/style/res/template/character.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>胡歌</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Hu Ge studio</strong>
              <br>
              E-mail:xxx@baidu.com
              <br>
              Weibo: https://weibo.com/hu_ge 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="../../layuiadmin/style/res/template/character.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>胡歌</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Hu Ge studio</strong>
              <br>
              E-mail:xxx@baidu.com
              <br>
              Weibo: https://weibo.com/hu_ge 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
     <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="../../layuiadmin/style/res/template/character.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>胡歌</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Hu Ge studio</strong>
              <br>
              E-mail:xxx@baidu.com
              <br>
              Weibo: https://weibo.com/hu_ge 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="../../layuiadmin/style/res/template/character.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>胡歌</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Hu Ge studio</strong>
              <br>
              E-mail:xxx@baidu.com
              <br>
              Weibo: https://weibo.com/hu_ge 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="../../layuiadmin/style/res/template/character.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>胡歌</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Hu Ge studio</strong>
              <br>
              E-mail:xxx@baidu.com
              <br>
              Weibo: https://weibo.com/hu_ge 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
     <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="../../layuiadmin/style/res/template/character.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>胡歌</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Hu Ge studio</strong>
              <br>
              E-mail:xxx@baidu.com
              <br>
              Weibo: https://weibo.com/hu_ge 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="../../layuiadmin/style/res/template/character.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>胡歌</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Hu Ge studio</strong>
              <br>
              E-mail:xxx@baidu.com
              <br>
              Weibo: https://weibo.com/hu_ge 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md4 layui-col-sm6">
      <div class="layadmin-contact-box" > 
          <div class="layui-col-md4 layui-col-sm6">
            <a href="javascript:;">
              <div class="layadmin-text-center">
                <img src="../../layuiadmin/style/res/template/character.jpg">
                <div class="layadmin-maillist-img layadmin-font-blod">演员</div>
              </div>
            </a>
          </div>
        
        <div class="layui-col-md8 layadmin-padding-left20 layui-col-sm6">
          <a href="javascript:;">
            <h3 class="layadmin-title">
              <strong>胡歌</strong>
            </h3>
            <p class="layadmin-textimg">
              <i class="layui-icon layui-icon-location"></i>
              上海
            </p>
          </a>
          <div class="layadmin-address">
            <a href="javascript:;">
              <strong>Hu Ge studio</strong>
              <br>
              E-mail:xxx@baidu.com
              <br>
              Weibo: https://weibo.com/hu_ge 
              <br>
              <addr title="phone">Tel:</addr>
              (123) 456-7890
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <script src="../../layuiadmin/layui/layui.js"></script>  
  <script>
  layui.config({
    base: '../../layuiadmin/' //静态资源所在路径
  }).extend({
    index: 'lib/index' //主入口模块
  }).use(['index']);
  </script>
</body>
</html>