@page "/tools/cdn"
@inherits PageBase

<PageContainer>
    <Breadcrumb>
        <Breadcrumb>
            <BreadcrumbItem><Icon Type="home"></Icon></BreadcrumbItem>
            <BreadcrumbItem><Icon Type="cloud"></Icon><span>CDN刷新</span></BreadcrumbItem>
        </Breadcrumb>
    </Breadcrumb>
    <ChildContent>
        <Card>
            <Text Strong>
                TODO: CDN刷新
            </Text>
        </Card>
    </ChildContent>
</PageContainer>