@page
@model MeowvBlog.SOA.Pages.Admin.Tags.ListModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List</title>
</head>
<body>
    标签列表
</body>
</html>